a {color:#123781;}
.bg-primary {background-color: #123781;}
.bg-secondary {background-color: #207ac5;}
.color-primary {color: #123781;}
.border-primary {border-color: #123781;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;background-color: #123781;border: 1px solid #509cbc;}
.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {border-color: #509cbc #509cbc #509cbc;background-color: #123781;}
header ul li.current-menu-item a, header ul li a:hover {background: #123781;color: #fff;}
header ul li.register a {background-color: #207ac5;color: #fff;}
.timecounter {color: #fff;background-color: #207ac5;}
.heading {background: #123781;color: #fff;}
.btn-primary {color: #ffffff;background-color: #123781;}
.btn-check.btn-primary {border-color: #123781;color: #123781;}
.btn-check.btn-primary.active, .btn-check.btn-primary:hover {color: #fff;background-color: #123781;}
.btn-secondary {color: #fff;background-color: #207ac5;border-color: #207ac5;}
.landing .box {background: #123781;}
.speakers .speaker .speaker-inner {background: #123781;}
.speakers .speaker.featured .speaker-inner {background: #207ac5;}
.speakers .speaker .speaker-inner:hover {color: #123781;}
.speakers .speaker.featured .speaker-inner:hover {color: #207ac5;}
.schedule ul ul li a {color: #fff;}
.connect {color: #fff;background-color: #207ac5;}
.sessions .session .speaker.featured img {border-color: #207ac5;box-shadow: 0px 0px 0px 1px #207ac5;}
.sessions.list .day-floating > span {border-top: 4px solid #123781;background: #fff;border-bottom: 2px solid #d2d2d2;}
.sessions.single .location strong {color: #123781;}
h3.sponsor {color: #207ac5;}
.color-secondary {color: #207ac5;}
.border-secondary {border-color: #207ac5;}
.location .explore {background: #f1f1f1;color: #207ac5;}
.location .explore .heading {color: #fff;background: #207ac5;}
.location .map {border: 1px solid #207ac5;}
.mediabox a.post .desc strong {color: #123781;}
.articles article .image .date {color: #fff;background-color: #207ac5;}
.articles article:hover .image, .articles article:hover  .post-content {border-color: #207ac5;}
.articles article .post-content .heading {color: #207ac5;}
.sidebar .tyler_comments_display h2 {color: #fff;background: #123781;}
.sidebar .tyler_comments_display li a:hover {border-color: #123781;}
.sidebar .tyler_comments_display li .time {color: #207ac5;}
.sidebar .widget_text h2 {color: #207ac5;border-bottom: 1px solid #207ac5;}
.comments-area h2 {color: #fff;background: #123781;}
.comments-area form input[type=submit] {background: #207ac5;color: #fff;}
.commentlist .comment .comment-content {border: 1px solid #123781;}
.commentlist .comment .comment-content:after {border: 1px solid #123781;background: #fff;}
footer .credits {background: #313131;color: #207ac5;}
#twitter_fullscreen li {border: 1px solid #123781;}
.twitter .tweet {border:1px solid #207ac5;}
#tile_media .btn-check{background:#fff;color:#207ac5;border-color:#207ac5;}
#tile_media .btn-check.active{background:#123781;color:#fff;border-color:#123781;}
.jspDrag{background:#207ac5;}
.landing .btn-secondary {border-color:#207ac5;}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {color: #fff;background-color: #123781;border-color: transparent;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #ffffff;background-color: #207ac5;border-color: #207ac5;}