/*
    Theme Name: Going Green Child Theme
	Theme URI: http://www.studiopress.com/themes/goinggreen
	Description: Going Green is a two or three column child theme created for the Genesis Framework.
    Author: StudioPress
    Author URI: http://www.studiopress.com/
 
    Version: 2.0
 
    Tags: blue, gray, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments
 
    Template: genesis
    Template Version: 1.8
 
	License: GNU General Public License v2.0 (or later)
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* Table of Contents

* Defaults
* Hyperlinks
* Body
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Header / Primary / Secondary Navigation
* Primary Navigation Extras
* Inner
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Headlines
* Ordered / Unordered Lists
* Post Info
* Post Meta
* Author Box
* Column Classes
* Featured Post Grid
* Archive Page
* Images
* Post Navigation
* Primary / Secondary Sidebars
* Dropdowns
* Featured Page / Post
* Buttons
* Search Form
* eNews & Updates Widget
* Calendar Widget
* Footer Widgets
* Footer
* Comments
* Gravity Forms
* Responsive Design

*/


/* Defaults
------------------------------------------------------------ */

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #62554e;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

blockquote,
input,
select,
textarea,
.author-box,
.breadcrumb,
.sticky,
.taxonomy-description,
.wp-caption {
	background-color: #e8e7e3;
}

input,
select,
textarea {
	border: 1px solid #dfdcd7;
}

input,
label,
select,
textarea {
	color: #62554e;
	font-family: 'Merriweather', serif;
	font-size: 14px;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #984a23;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background: url(images/bg.png);
}

::-moz-selection {
	background-color: #984a23;
	color: #fff;
}

::selection {
	background-color: #984a23;
	color: #fff;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
    background:
    url(images/wrap-top.png) top repeat-x,
    url(images/wrap-bottom.png) bottom repeat-x;
}


/* Header
------------------------------------------------------------ */

#header {
	margin: 0 auto 20px;
	min-height: 100px;
	overflow: hidden;
	width: 1100px;
}

#title-area {
	float: left;
	overflow: hidden;
	text-transform: uppercase;
	width: 450px;
}

#title {
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 1;
	margin: 30px 0 0;
}

#title a,
#title a:hover {
	color: #a6d045;
	text-decoration: none;
}

#description {
	color: #96a867;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
}

#header .widget-area {
	float: right;
	width: 640px;
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 400px;
}

.header-image #description {
	display: block;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width #title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 100%;
}


/* Header / Primary / Secondary Navigation
------------------------------------------------------------ */

#nav {
	background: url(images/bg.png);
}

.menu-primary,
.menu-secondary,
#header .menu {
	clear: both;
	color: #fff;
	font-size: 14px;
	margin: 0 auto;
	overflow: hidden;
}

.menu-primary {
	width: 1120px;
}

.menu-secondary {
	background: url(images/inner.png);
	margin: 0 auto 5px;
	width: 1140px;
}

#header .menu {
	background: none;
	float: right;
	margin: 35px 0 0;
	width: auto;
}

.menu-primary ul,
.menu-secondary ul,
#header .menu ul {
	float: left;
	width: 100%;
}

.menu-primary li,
.menu-secondary li,
#header .menu li {
	float: left;
	list-style-type: none;
}

.menu-primary a,
.menu-secondary a,
#header .menu a {
	color: #fff;
	display: block;
	font-family: 'Lato', sans-serif;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-primary a,
.menu-secondary a {
	letter-spacing: 1px;
}

#header .menu a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 15px;
	text-transform: none;
}

.menu-primary li a:active,
.menu-primary li a:hover,
.menu-primary li:hover a,
.menu-primary .current_page_item a,
.menu-primary .current-cat a,
.menu-primary .current-menu-item a,
.menu-secondary li a:active,
.menu-secondary li a:hover,
.menu-secondary li:hover a,
.menu-secondary .current_page_item a,
.menu-secondary .current-cat a,
.menu-secondary .current-menu-item a,
#header .menu li a:active,
#header .menu li a:hover,
#header .menu li:hover a,
#header .menu .current_page_item a,
#header .menu .current-cat a,
#header .menu .current-menu-item a {
	color: #a6d045;
}

.menu-primary li li a,
.menu-primary li li a:link,
.menu-primary li li a:visited,
.menu-secondary li li a,
.menu-secondary li li a:link,
.menu-secondary li li a:visited,
#header .menu li li a,
#header .menu li li a:link,
#header .menu li li a:visited {
	background: url(images/bg.png);
	border: 1px solid #4b382e;
	border-top: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
	width: 138px;
}

.menu-primary li li a:active,
.menu-primary li li a:hover,
.menu-secondary li li a:active,
.menu-secondary li li a:hover,
#header .menu li li a:active,
#header .menu li li a:hover {
	background-color: #352014;
	color: #a6d045;
}

.menu-primary li ul,
.menu-secondary li ul,
#header .menu li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

.menu-primary li ul a,
.menu-secondary li ul a,
#header .menu li ul a {
	width: 150px;
}

.menu-primary li ul ul,
.menu-secondary li ul ul,
#header .menu li ul ul {
	margin: -40px 0 0 159px;
}

.menu li:hover ul ul,
.menu li.sfHover ul ul {
	left: -9999px;
}

.menu li:hover,
.menu li.sfHover {
	position: static;
}

ul.menu li:hover>ul,
ul.menu li.sfHover ul,
#header .menu li:hover>ul,
#header .menu li.sfHover ul {
	left: auto;
}

.menu li a .sf-sub-indicator,
.menu li li a .sf-sub-indicator,
.menu li li li a .sf-sub-indicator {
	position: absolute;
	text-indent: -9999px;
}

#wpadminbar li:hover ul ul {
	left: 0;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

.menu li.right {
	float: right;
	font-family: 'Lato', sans-serif;
	padding: 10px 15px;
	text-transform: uppercase;
}

.menu li.right a {
	color: #fff;
	display: inline;
}

.menu li.right a:hover {
	color: #a6d045;
}

.menu li.search {
	padding: 0 10px;
}

.menu li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.menu li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 0 0 0 20px;
}


/* Inner
------------------------------------------------------------ */

#inner {
	background: url(images/inner.png);
	clear: both;
	margin: 0 auto;
	padding: 20px;
	width: 1100px;
}

.goinggreen-landing #inner {
	width: 700px;
}

#inner .wrap {
	overflow: hidden;
	padding: 30px 50px;
	width: 1000px;
}

.goinggreen-landing #inner .wrap {
	width: 600px;
}

.content-sidebar #inner .wrap {
	background: url(images/inner-wrap-cs.png);
}

.sidebar-content #inner .wrap {
	background: url(images/inner-wrap-sc.png);
}

.full-width-content #inner .wrap {
	background: url(images/inner-wrap-full.png);
}


/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	font-size: 12px;
	margin: 0 0 30px;
	padding: 10px 15px;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	margin: 0 0 30px;
	padding: 15px 20px;
}

.taxonomy-description p {
	font-size: 14px;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

#content-sidebar-wrap {
	float: left;
	width: 100%;
}

.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	float: right;
}


/* Content
------------------------------------------------------------ */

#content {
	float: left;
	width: 650px;
}

.sidebar-content #content {
	float: right;
}

.full-width-content #content {
	width: 100%;
}

.hentry {
	margin: 0 0 50px;
}

.entry-content a,
.entry-content a:visited {
	text-decoration: underline;
}

.entry-content a:hover {
	text-decoration: none;
}

.entry-content p {
	margin: 0 0 25px;
}

blockquote {
	background: url(images/blockquote.png) no-repeat;
	border: none;
	margin: 5px 5px 20px;
	padding: 25px 30px 5px 70px;
}

blockquote p {
	color: #b5a59d;
	font-style: italic;
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.sticky {
	background-color: #e8e7e3;
	margin: 0 0 40px;
	padding: 20px 30px;
}

.clear {
	clear: both;
}

.clear-line {
	background: url(images/line.png) bottom repeat-x;
	clear: both;
	margin: 0 0 25px;
	padding: 0 0 1px;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6 {
	color: #984a23;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	line-height: 1.25;
	margin: 0 0 10px;
}

h1,
h2,
h2 a,
h2 a:visited {
	font-size: 36px;
}

h2 a,
h2 a:visited {
	color: #984a23;
}

h2 a:hover {
	color: #823f1e;
	text-decoration: none;
}

.genesis-grid h2 a,
.genesis-grid h2 a:visited {
	font-size: 24px;
}

.sidebar h2 a,
.sidebar h2 a:hover {
	font-size: 16px;
}

h3 {
	font-size: 30px;
}

#comments h3 {
	margin: 0 0 40px;
}

h4 {
	font-size: 24px;
}

#footer-widgets h4 {
	color: #352014;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#sidebar h4 {
	background: url(images/headline-sidebar.png);
	color: #352014;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 0 20px -40px;
	padding: 22px 0 22px 40px;
	text-transform: uppercase;
}

.sidebar-content #sidebar h4 {
	margin: 0 0 20px -50px;
	padding: 22px 0 22px 50px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 25px;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 35px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	color: #b5a59d;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.post-info a,
.post-info a:visited {
	color: #b5a59d;
}

.post-info a:hover {
	color: #62554e;
	text-decoration: none;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	background: url(images/line.png) top repeat-x;
	clear: both;
	color: #b5a59d;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 11px 0 0;
	text-transform: uppercase;
}

.post-meta a,
.post-meta a:visited {
	color: #b5a59d;
}

.post-meta a:hover {
	color: #62554e;
	text-decoration: none;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
    background: none;
	margin: 0 0 50px;
	overflow: hidden;
}

.author-box p {
	font-size: 14px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Featured Post Grid
------------------------------------------------------------ */

.genesis-grid-even,
.genesis-grid-odd {
	margin: 0 0 20px;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-even {
	float: right;
}

.genesis-grid-odd {
	clear: both;
	float: left;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0 0;
	width: 45%;
}


/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
}

img.post-image {
	max-width: 700px;
}

.avatar {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.post-image {
	margin: 0 0 25px -50px;
}

.alignleft .avatar {
	margin: 0 10px 0 0;
}

.alignright .avatar {
	margin: 0 0 0 10px
}

.author-box .avatar {
	float: left;
	margin: 0 20px 0 0;
}

.comment-list li .avatar {
	background-color: #fff;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 20px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft,
.wp-caption.alignleft {
	display: inline;
	margin: 0 20px 20px 0;
}

img.alignright,
.wp-caption.alignright {
	display: inline;
	margin: 0 0 20px 20px;
}

.wp-caption {
	padding: 20px;
	text-align: center;
}

p.wp-caption-text {
	font-size: 14px;
	margin: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	font-size: 14px;
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	background-color: #984a23;
	color: #fff;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 18px;
	padding: 10px 12px;
	text-decoration: none;
	text-transform: uppercase;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #823f1e;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: inline;
	float: right;
	font-size: 13px;
	width: 260px;
}

.sidebar-content #sidebar {
	float: left;
}

.sidebar p {
	font-size: inherit;
}

.sidebar .widget {
	margin: 0 0 20px;
}

.sidebar.widget-area ul li,
#footer-widgets .widget-area ul li {
	border-bottom: 1px dotted #dfdcd7;
	list-style-type: none;
	margin: 0 0 7px;
	padding: 0 0 5px;
	word-wrap: break-word;
}

.sidebar.widget-area ul ul li {
	border: none;
	margin: 0;
}

.sidebar.widget-area .latest-tweets li span a,
.sidebar.widget-area .latest-tweets li span a:visited {
	color: #a99a93;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

.sidebar.widget-area .latest-tweets li span a:hover {
	color: #62554e;
	text-decoration: none;
}


/* Dropdowns
------------------------------------------------------------ */

.widget_archive select,
#cat {
	display: inline;
	padding: 3px;
	width: 95%;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	clear: both;
	margin: 0 0 15px;
}

.featuredpage .page,
.featuredpost .post {
	border-bottom: 1px dotted #dfdcd7;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0 0 10px;
}


/* Buttons
------------------------------------------------------------ */

input[type="button"],
input[type="submit"] {
	background-color: #984a23;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 21px;
	padding: 7px 10px 6px;
	text-decoration: none;
	text-transform: uppercase;
}

input:hover[type="button"],
input:hover[type="submit"] {
	background-color: #823f1e;
	border: none;
	text-decoration: none;
}


/* Search Form
------------------------------------------------------------ */

#header .searchform {
	float: right;
	margin: 32px 0 0;
}

.s {
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	background-color: #fff;
	border: 1px solid #c0b9af;
	border-right: 0;
	box-shadow: 0 0 5px #ccc inset;
	color: #c2bfb8;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0 -7px 0 0;
	padding: 10px;
	text-transform: uppercase;
	width: 160px;
}

#footer-widgets .s {
	margin: 0 -7px 10px 0;
	width: 220px;
}


/* eNews and Update Widget
------------------------------------------------------------ */

.enews p {
	margin: 0 0 10px;
}

.enews #subbox {
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	background-color: #fff;
	border: 1px solid #c0b9af;
	border-right: 0;
	box-shadow: 0 0 5px #ccc inset;
	color: #c2bfb8;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0 -7px 10px 0;
	padding: 11px 10px 11px;
	text-transform: uppercase;
	width: 160px;
}

input[type="submit"]#subbutton {
	border: 1px solid #c0b9af;
	border-left: 0;
}


/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
	background: url(images/inner.png);
	clear: both;
	font-size: 14px;
	margin: 10px auto;
	overflow: hidden;
	padding: 20px;
	width: 1100px;
}

#footer-widgets .wrap {
	background: url(images/inner-wrap-full.png);
	border: none;
	overflow: hidden;
	padding: 30px 30px 15px;
}

#footer-widgets .widget {
	margin: 0 0 15px;
}

#footer-widgets p {
	font-size: inherit;
	margin: 0 0 15px;
}

#footer-widgets ul {
	margin: 0 0 -5px;
}

.footer-widgets-1 {
	float: left;
	margin: 0 30px 0 0;
	width: 330px;
}

.footer-widgets-2 {
	float: left;
	width: 320px;
}

.footer-widgets-3 {
	float: right;
	width: 330px;
}


/* Footer
------------------------------------------------------------ */

#footer {
	clear: both;
	color: #d09a7c;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0 auto;
	overflow: hidden;
	text-transform: uppercase;
	width: 1100px;
}

#footer .wrap {
	overflow: hidden;
	padding: 25px 0;
}

#footer p {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

#footer a,
#footer a:visited {
	color: #d09a7c;
}

#footer a:hover {
	color: #e8e7e3;
	text-decoration: none;
}

#footer .gototop {
	float: left;
	width: 200px;
}

#footer .creds {
	float: right;
	text-align: right;
	width: 890px;
}


/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 15px;
}

#author,
#comment,
#email,
#url {
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	padding: 10px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin: 20px 0 10px 150px;
	padding: 15px 20px;
	position: relative;
}

.comment-list li ul li {
	margin-right: -22px;
}

.comment-content p {
	font-size: 14px;
	margin: 0 0 20px;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
}

.comment-list .comment-author {
	font-size: 13px;
	left: -180px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 180px;
}

.comment-list .comment-author .says {
	display: none;
}

.comment-list cite {
	display: block;
	text-align: center;
	margin-top: 10px;
}

.commentmetadata {
	color: #7c7a77;
	font-size: 10px;
	left: -180px;
	position: absolute;
	top: 90px;
	text-align: center;
	width: 180px;
}

.comment-list .comment-author:before {
	content: '';
	display: block;
	height: 0px;
	position: absolute;
	right: 0px;
	border-bottom: 25px solid;
	border-left: 10px solid;
	border-right: 17px solid; 
	border-top: 15px solid;  
    border-color: #fff #fff transparent transparent;
	top: 20px;
	width: 0px;
}

.depth-2 .comment-author:before,
.depth-4 .comment-author:before {
    border-color: #f0efec #f0efec transparent transparent;
}

.depth-3 .comment-author:before {
    border-color: #fff #fff transparent transparent;
}

.ping-list .comment-author {
	text-align: left;
	margin: 0 0 5px;
}

.ping-list .commentmetadata {
	color: #7c7a77;
	font-size: 11px;
	margin: 0 0 5px;
}

.reply {
	font-size: 14px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
}

.thread-alt,
.thread-even {
	background-color: #fff;
}

.depth-2,
.depth-4 {
	background-color: #f0efec;
}

.depth-3 {
	background-color: #fff;
}


/* Gravity Forms
------------------------------------------------------------ */

div.gform_wrapper input,
div.gform_wrapper select,
div.gform_wrapper textarea {
	box-sizing: border-box;
	font-size: 14px !important;
	padding: 6px 10px !important;
}

div.gform_footer input.button {
	color: #fff;
}

div.gform_wrapper .ginput_complex label {
	font-size: 14px;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0 0 10px;
}

div.gform_wrapper .gform_footer {
	border: none;
	margin: 0;
	padding: 0;
}


/* Responsive Design
------------------------------------------------------------ */

@media only screen and (max-width: 1200px) {

	img.post-image {
		max-width: 520px;
	}
	
	.content-sidebar #inner .wrap {
		background: url(images/mobile-inner-wrap-cs.png);
	}
	
	.sidebar-content #inner .wrap {
		background: url(images/mobile-inner-wrap-sc.png);
	}

	#footer,
	#footer-widgets,
	#header,
	#inner {
		width: 920px;
	}

	#title-area {
		width: 450px;
	}

	#header .widget-area {
		width: 450px;
	}

	.menu-primary {
		width: 940px;
	}

	.menu-secondary {
		width: 960px;
	}

	#inner .wrap {
		width: 820px;
	}

	#content {
		width: 470px;
	}

	.comment-list li ul li {
		margin-right: -20px;
	}

	.comment-list li .avatar,
	.comment-list .comment-author::before {
		display: none;
	}

	.comment-list .comment-author,
	.commentmetadata {
		font-size: 14px;
		left: 0;
		position: inherit;
		text-align: left;
		top: 0;
		width: auto;
	}

	.commentmetadata {
		margin: 0 0 10px;
	}

	.comment-list cite {
		text-align: left;
	}

	.comment-list cite,
	.comment-list .comment-author .says {
		display: inline-block;
	}

	.comment-list li,
	.ping-list li {
		margin: 20px 0 5px 0;
	}

	.footer-widgets-1,
	.footer-widgets-3 {
		width: 270px;
	}

	.footer-widgets-2 {
		width: 260px;
	}

	#footer .creds {
		width: 710px;
	}

}

@media only screen and (max-width: 1023px) {

	body {
		width: 100%;
		margin: 0 auto;
	}

	img.post-image {
		max-width: 100%;
	}

	.post-image {
		margin: 0 0 25px;
	}

	.archive-page,
	.content-sidebar #content,
	.content-sidebar-sidebar #content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.full-width-content #content,
	.goinggreen-landing #inner,
	.goinggreen-landing #inner .wrap,
	.menu-primary,
	.menu-secondary,
	.sidebar,
	.sidebar-content #content,
	.sidebar-content-sidebar #content,
	.sidebar-sidebar-content #content,
	#content-sidebar-wrap,
	#footer,
	#footer .creds,
	#footer .gototop,
	#footer-widgets,
	#footer-widgets .wrap,
	#header,
	#header ul.menu,
	#header .widget-area,
	#inner,
	#inner .wrap,
	#sidebar-alt,
	#title-area,
	#wrap {
		width: 100%;
	}

	#wrap {
		background: none;
		box-sizing: border-box;
		padding: 10px;
	}

	#header {
		background: url(images/mobile-header.png);
		margin: 0 auto 10px;
	}

	.menu-primary,
	.menu-secondary,
	#description,
	#footer .creds,
	#footer .gototop,
	#header ul.menu,
	#header .search-form,
	#title,
	#title-area {
		float: none;
		text-align: center;
	}

	#title-area {
		padding: 20px 0 10px;
	}

	#footer-widgets,
	#inner {
		background: none;
	}

	#footer-widgets .wrap,
	#inner .wrap {
		box-sizing: border-box;
		padding: 20px 30px;
	}

	.content-sidebar #inner .wrap,
	.full-width-content #inner .wrap,
	.sidebar-content #inner .wrap {
		background: url(images/inner-wrap-full.png);
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	#header .menu,
	#header .search-form,
	#title,
	#wrap {
		margin: 0;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	#content,
	#description,
	#footer-widgets,
	#footer-widgets .wrap,
	#inner,
	#title a,
	#title a:hover,
	#header .search-form,
	#header .widget-area {
		padding: 0;
	}

	.menu-primary li,
	.menu-secondary li,
	#header ul.menu li {
		display: inline-block;
		float: none;
	}

	.menu li.right {
		display: none;
	}

	.menu li li {
		text-align: left;
	 }

	#footer-widgets .widget {
		padding: 20px 20px 0;
	}

	#footer .wrap {
		padding: 10px 0;
	}

}

@media only screen and (max-width: 600px) {

	#header .menu a {
		padding: 10px;
	}

	#footer-widgets .wrap,
	#inner .wrap {
		padding: 20px;
	}

	h1,
	h2,
	h2 a,
	h2 a:visited {
		font-size: 24px;
	}
	
	h3,
	h4 {
		font-size: 20px;
	}

	h5,
	h6 {
		font-size: 16px;
	}

	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		padding: 0;
		width: 100%;
	}

	.genesis-grid-even,
	.genesis-grid-odd {
		width: 100%
	}

	.s,
	#footer-widgets .s {
		width: 90%;
	}

	#footer-widgets .widget {
		padding: 0;
	}

}