@charset "utf-8";
/* CSS Document */
/*Admin CSS*/



.team-settings .team_member_social_icon, .team-settings .remove_icon,
.team-member-skills .remove-skill,
.team-member-meta-fields .remove-meta

 {
    -webkit-background-size: 100% auto !important;
    background-size: 100% auto !important;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 20px
    }

.team-settings .remove_icon,.team-member-skills .remove-skill, .team-member-meta-fields .remove-meta {
    text-align: center
    }
	
.team-settings .remove_icon:hover, .team-member-skills .remove-skill:hover , .team-member-meta-fields .remove-meta:hover{
  background: rgb(252, 93, 93) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
}
	

.team-settings .team_member_social_icon.empty_icon {
    background: url(empty-icon.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0)
    }


.team-settings .team_member_social_field tr:hover .sorting,
.team-member-skills tr:hover .sorting,
.team-member-meta-fields tr:hover .sorting
 {
  background: rgb(255, 255, 255) url("move.png") no-repeat scroll 20px 11px;
}



#team_metabox {
  background: #f1f1f1 none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
}

#team_metabox .hndle {
  background: rgb(96, 173, 252) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
}

#team_metabox .handlediv{
  color: rgb(255, 255, 255);
}




#team_metabox .bg_image_src {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

#team_metabox .team_loading_taxonomy_category {
    background: url(loading.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 11px;
    margin-bottom: 20px;
    width: 30px
    }

#team_metabox ul.content_source_area {
    margin-left: 15px
    }

#team_metabox ul.content_source_area .content-source-box {
    display: none
    }

#team_metabox ul.content_source_area li div.active {
    background: none repeat scroll 0 0 #e6e6e6;
    border-left: 3px solid #11b063;
    display: block;
    margin: 10px 10px 0 20px;
    padding: 10px 0 10px 5px
    }
	
	
#team_metabox .team-grid-builder{}	
	
#team_metabox .team-grid-builder .item {
  background: #a7e1ff none repeat scroll 0 0;
  margin-bottom: 3px;
  position: relative;
}

#team_metabox .team-grid-builder .header {
  border-bottom: 1px solid rgb(153, 153, 153);
  padding: 10px;
}

#team_metabox .team-grid-builder .item .header:hover {


}

#team_metabox .team-grid-builder .item .move {
	display: inline-block;
	padding: 5px;
	cursor: move;
}

#team_metabox .team-grid-builder .item .expand {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}

#team_metabox .team-grid-builder .item .expand .fa-expand {
	display: inline-block;
}

#team_metabox .team-grid-builder .item .expand .fa-compress {
	display: none;
}
#team_metabox .team-grid-builder .item.active .expand .fa-compress {
	display: inline-block;
}
#team_metabox .team-grid-builder .item.active .expand .fa-expand {
	display: none;
}

#team_metabox .team-grid-builder .header > label {
  float: right;
}




#team_metabox .team-grid-builder .item-option{
	display:none;

}

#team_metabox .team-grid-builder .item.active .item-option{
	display:block;

}




#team_metabox .team-grid-builder .input-switch {
  float: right;
  position: absolute;
  right: 50px;
  top: 0;
}

#team_metabox .ui-sortable-helper{
	border:1px dashed #999;

}

































