@charset "utf-8";
/* CSS Document */


/*CSS front page*/
.team-container {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%
    }

.team-popup-box {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2147483647
    }

.team-popup-box .team-slide {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    display: none;
    height: 80%;
    margin-bottom: 10px;
    margin-top: 65px;
    overflow-y: scroll;
    padding: 20px;
    position: relative;
    text-align: left;
    width: 80%
    }

.team-popup-box .team-slide-thumb {
    display: inline-block;
    vertical-align: top;
    width: 45%
    }

.team-popup-box .team-slide-thumb img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
    }

.team-popup-box .team-slide-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0
    }

.team-popup-box .team-slide-position {
    clear: both;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    padding: 5px 0 5px 20px
    }

.team-popup-box hr {
    margin: 0 0 15px;
    padding: 0
    }

.team-popup-box .team-slide-content {
    display: inline-block;
    font-size: 13px;
    padding: 0 20px;
    width: 45%
    }

.team-container .team-social {
    padding: 10px
    }

.team-container .team-social span {
    -webkit-background-size: 100% auto !important;
    background-size: 100% auto !important;
    display: inline-block;
    height: 20px;
    margin: 0 2px;
    width: 20px
    }

.team-container .team-social a {
    display: block;
    height: 100%;
    width: 100%
    }

/*Icon Themes*/
.team-container .team-social.flat span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
    }

.team-container .team-social.rounded span {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
    }

.team-container .team-social.rounded-border span {
    border: 2px solid rgba(176, 176, 176, 0.5);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
    }

.team-container .team-social.semi-rounded span {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px
    }

.team-container .team-social .website {
    background: url(icons/website.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .email {
    background: url(icons/email.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .skype {
    background: url(icons/skype.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .mobile {
    background: url(icons/mobile.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .facebook {
    background: url(icons/facebook.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .twitter {
    background: url(icons/twitter.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .googleplus {
    background: url(icons/googleplus.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-container .team-social .pinterest {
    background: url(icons/pinterest.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }
	
.team-container .team-social .linkedin {
    background: url(icons/linkedin.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }	
	
	
/*Single Team member*/
	
.team-meamber-single .team-social {
	padding: 10px
}
.team-meamber-single .team-social span {
    -webkit-background-size: 100% auto !important;
    background-size: 100% auto !important;
    display: inline-block;
    height: 20px;
    margin: 0 2px;
    width: 20px
    }

.team-meamber-single .team-social a {
    display: block;
    height: 100%;
    width: 100%
    }
	
.team-meamber-single .team-social .website {
    background: url(icons/website.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .email {
    background: url(icons/email.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .skype {
    background: url(icons/skype.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .mobile {
    background: url(icons/mobile.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .facebook {
    background: url(icons/facebook.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .twitter {
    background: url(icons/twitter.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .googleplus {
    background: url(icons/googleplus.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }

.team-meamber-single .team-social .pinterest {
    background: url(icons/pinterest.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }
	
.team-meamber-single .team-social .linkedin {
    background: url(icons/linkedin.png) repeat scroll 0 0 rgba(0, 0, 0, 0)
    }	
	
	
	
	
	
	

/*   ###################paginate###########################   */

.team-container .paginate {
  margin: 30px 0 0;
}

.team-container .paginate .page-numbers {
    background: none repeat scroll 0 0 rgb(31, 191, 69);
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 3px 0;
    padding: 3px 8px;
    text-decoration: none
    }

.team-container .paginate .page-numbers:hover {
    background: none repeat scroll 0 0 rgb(14, 140, 44)
    }

.team-container .paginate .current {
    background: none repeat scroll 0 0 rgb(14, 140, 44)
    }



.team-container .team-popup-box .close {
  background: url(cross-mark.png) no-repeat scroll 7px 7px rgba(0, 0, 0, 0.51);
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-top: 65px;
  text-align: center;
  top: 0;
  vertical-align: top;
  width: 30px;
}



@media only screen and (max-width: 700px) {
    .team-popup-box .team-slide {
        max-height: 300px;
        width: 80%
        }
    .team-popup-box .team-slide-content {
        padding: 20px 0;
        width: 90%
        }
    }