/*
 * Small devices - Tablets (≥768px)
*/
@media (max-width: 991px) {
    body.header-menu-open {
        padding-top: 0;
    }
    body.header-menu-open header {
        position: relative !important;
    }
    body.header-menu-open #backdrop {
        display: block;
    }
    header.transition, header .transition {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    header #logo, header.sticky #logo {
        display: block;
        float: left;
        position: relative;
        max-width: 50%; max-height: 100%;
        margin: 21px 23px;
        text-align: left;
        overflow: visible;
    }
    header .navbar {
        margin-bottom: 0;
    }
    header .navbar-header > * {
        padding: 11px 14px;
        margin: 26px 22px 0 0;
    }

    header .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    header #menu-primary {
        margin: 0;
        height: auto;
        width: 100%;
        padding-top: 10px;
    }
    header #tyler-navigation.text-fit {
        max-height: none;
    }

    header ul li {
        display: block;
        position: relative;
        background: #3d3d3d;
        border-bottom: 1px solid #4d4d4d;
        color: #fff;
        text-align: left;
    }
    header > ul li.expand {
        background-color: #5c5c5c;
    }

    header ul ul {
        position: relative;
    }
    header ul ul ul {
        display: block;
    }
    header ul ul li {
        background-color: #818181;
        border: none;
    }

    header #menu-primary > .menu-item-has-children:after {
        content: "+";
        font-size: 2em;
        position: absolute;
        top: -1px; right: 15px;
        font-weight: 300;
    }
    header #menu-primary >.menu-item-has-children.expand:after {
        content: "-";
    }

    h2 + .btn-header, .btn-group-header {
        margin-top: 0;
    }

    /* heading */
    .heading .nav {
        width: 20%;
        font-size: 30px;
        white-space: nowrap;
    }
    .heading .nav a {
        color: #fff;
        margin: 0 8px;
    }

    .row.row-sm,.row.row-xs {
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .row.row-sm > *[class^=col-md], .row.row-sm > *[class^=col-lg],
    .row.row-xs > *[class^=col-sm], .row.row-xs > *[class^=col-md], .row.row-xs > *[class^=col-lg]{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .widget {
        margin-bottom: 3em;
    }

    /* landing */
    .landing, .landing .bg {
        width: 100%;
    }
    .landing h1 {
        font-size: 60px; font-weight: normal;
        padding-top: 68px;
    }
    .landing .lead {
        font-size: 22px; font-weight: normal;
        height: 60px;
    }
    .landing .box {
        position: relative;
        max-width: 474px;
        margin: 30px auto;
    }
    .landing i[class^=icon] {
        left: 34px;
    }
    .landing i.icon-map-marker {
        left: 36px;
    }

    /* timecounter */
    .timecounter {
        position: relative;
        border-radius: 6px;
        color: #fff;
        font-size: 34px; font-weight: 300;
        padding: 21px 32px;
        overflow: auto;
        background-color: #e83a56;
    }
    .timecounter:before {
        display: none;
        content: "";
    }
    .timecounter>div {
        display: block;
        width: 100%; height: 100%;
    }
    .timecounter .title, .timecounter .time {
        display: block;
        vertical-align: middle;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .timecounter .title {
        margin-bottom: 15px;
    }

    /* speakers */
    .speakers .speaker .speaker-inner {
        padding: 30px 12px 15px;
        height: 282px;
        line-height: 24px;
    }
    .speakers .speaker.featured .speaker-inner:after {
        top: 10px;
        right: 10px;
        font-size: 32px;
        background-size: 317px auto;
        background-position: -277px 0;
        width: 35px; height: 35px;
    }
    .speakers .photo {
        width: 100%;
        margin-bottom: 5px;
    }
    .speakers .name {
        font-size: 18px;
        height: 48px;
        margin: 0 0 10px;
    }
    .speakers .name>span {
        max-height: 48px;
    }
    .speaker .description {
        font-size: 11px;
    }
    .speakers .speaker .view {
        line-height: 36px;
        font-size: 12px;
    }

    /* connect with us */
    .connect {
        padding: 20px;
    }
    .connect:before {
        display: none;
        content: "";
        padding: 0 40px;
    }
    .connect .connect-inner {
        display: block;
        width: 100%; min-height: 0;
    }
    .connect .connect-inner > span, .connect .connect-inner .links {
        display: block;
        width: 100%; height: auto;
        padding: 10px 0; margin: 0;
        text-align: center;
        vertical-align: middle;
    }
    .connect .connect-inner .links {
        margin-top: 10px;
    }

    /* sessions */
    .sessions .session .session-inner {
        height: 292px;
        padding: 18px 18px 47px;
        font-size: 12px;
    }
    .sessions .session .title {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 8px;
        height: 66px;
    }
    .sessions .session .title>span {
        max-height: 66px;
    }
    .sessions .session .speakers-thumbs {
        margin: 12px -4px;
        height: 92px;
    }
    .sessions .session .speaker {
        width: 42px;
        height: 42px;
        margin: 2px 0;
    }
    .sessions .session .more {
        line-height: 36px;
        font-size: 12px;
        padding: 0 19px;
    }

    /* sessions list */
    .sessions.list .time {
        padding-right: 5%;
    }
    .sessions.list .session-inner {
        padding: 0;
        height: auto;
    }
    .sessions.list .session .speaker {
        width: 33.3%;
    }

    /* single session */
    .sessions.single {
        margin: 40px 0 0;
    }
    .sessions.single .session > span {
        float: left;
        width: 33.3%;
    }
    .sessions.single .session .speakers-thumbs {
        width: 100%;
        margin: 40px -1em 0; height: auto;
    }
    .sessions.single .session .speaker {
        width: 25%;
    }

    /* jumbotron */
    .jumbotron {
        padding: 80px 0;
    }

    /* facebook */
    .facebook.row {
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .facebook.row > div[class^=col] {
        padding-top: 15px; padding-bottom: 15px;
    }
    .facebook .fb-event {
        height: auto;
        overflow: auto;
        font-size: 18px;
        font-weight: 500;;
        line-height: 2em;
        padding: 41px 0;
    }
    .facebook .fb-event:after {
        content: " ";
        clear: both;
    }
    .facebook .fb-view {
        height: auto;
        padding: 46px 32px;
        text-align: right;
    }
    .facebook .fb-view .icon-facebook-alt {
        top: 32px;
    }

    /* twitter */
    .twitter.row {
        margin-top: 0;
        margin-bottom: 0;
    }
    .twitter .view {
        height: auto;
        padding: 27px 32px;
        overflow: auto;
    }
    .twitter .view-inner {
        display: inline-block;
        text-align: left;
        float: right;
    }
    .twitter .view .icon-twitter-alt {
        top: 32px;
    }
    .twitter .tweet {
        height: 246px;
        padding: 19px;
    }
    .twitter .tweet.featured {
        height: 291px;
    }
    .twitter .tweet .text {
        font-size: 14px;
        max-height: 120px;
    }
    .twitter .tweet.featured .text {
        max-height: 135px;
    }

    /* mediabox */
    .mediabox a.post {
        width: 50%;
    }

    /* articles */
    .articles {
        margin-left: -15px;
        margin-right: -15px;
    }
    .articles:after {
        content: " ";
        clear: both;
    }
    .articles article {
        width: 50%;
        padding: 15px;
        float: left;
    }
    .articles article .image {
        float: none;
        width: 100%;
        height: 216px;
        margin-bottom: 28px;
    }
    .articles article .post-content {
        margin-left: 0;
    }
    .articles article .post-content a {
        padding: 15px 21px;
        height: 290px;
    }

    /* vertical articles */
    .articles.vertical article .image {
        margin-bottom: 0;
    }

    /* location */
    .location .explore {
        height: 320px;
        margin-bottom: 30px;
    }
    .location .explore .scrollable {
        height: 240px;
    }

    /* sponsors */
    .sponsor {
        margin-left: -1%;
    }
    .sponsors-lg .sponsor { width: 50%; }
    .sponsors-md .sponsor { width: 33.3%; }
    .sponsors-sm .sponsor { width: 25%; }

    /* contact us */
    form.contact-us button {
        min-height: 122px;
    }

    /* footer */
    footer .col {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    footer .col > div {
        border-radius: 4px;
        padding: 0;
    }
    footer .col h4 {
        padding: 26px;
        cursor: pointer;
        margin: 0;
    }
    footer .col.expand h4 {
        background: #5c5c5c;
    }
    footer .col h4:before {
        float: right;
        content: "+";
        font-size: 2em; font-weight: 300;
        margin-top: -0.3em;
    }
    footer .col.expand h4:before {
        content: "-";
    }
    footer .col.expand ul {
        display: block;
    }
}

/*
 * Extra small devices - Phones (<768px)
*/
@media (max-width: 767px) {
    html, body {
        font-size: 14px;
    }

    .btn {
        max-width: 100%;
    }
    .btn.btn-lg {
        font-size: 21px;
        padding: 15px 30px;
    }

    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    .row h3 {
        font-size: 22px;
    }
    h5 {
        font-size: 16px;
    }
    header #logo, header.sticky #logo {
        margin: 16px 0 0 9px;
    }
    header #logo img, header.sticky #logo img {
        max-height: 33px;
    }
    header .navbar-header > * {
        padding: 9px 12px;
        margin: 0;
        position: absolute;
        top: 17px;
        right: 0;
    }
    header .navbar-toggle [class^=icon] {
        margin-top: 3px;
        margin-bottom: -3px;
    }

    /* heading */
    h1 img.img-circle {
        max-width: 110px;
        max-height: 110px;
        border: 2px solid #157eab;
        margin: -15px auto 10px;
        display: block;
    }
    .heading .container {
        display: block;
    }
    .heading h1 {
        display: block;
        font-size: 36px;
        min-height: 0; height: auto;
        text-align: center;
    }
    .heading .nav {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 0 27px;
    }
    .heading .nav a {
        color: #fff;
        margin: 0 8px;
    }

    /* tabs */
    .nav-tabs {
        width: 100%;
        margin-bottom: -1px;
        display: none;
    }
    .nav-tabs>li {
        float: none;
        display: block;
        margin: 0; padding: 0;
    }
    .nav-tabs.pull-right > li > a {
        margin: 3px 0 0;
        text-align: right;
    }

    /* landing */
    .landing, .landing .bg {
        height: 100%;
    }
    .landing h1 {
        display: block;
        font-size: 40px; font-weight: normal;
        margin:0 0 15px; padding: 35px 0 0;
        height: 190px;
    }
    .landing h1 > span {
        display: block;
        height: 160px;
        max-height: 160px;
    }
    .landing .lead {
        font-size: 20px; font-weight: normal;
        height: 80px; max-height: 80px;
        margin: 0;
    }
    .landing .box {
        position: relative;
        /*max-width: 305px;*/
        margin: 15px auto; padding: 5px 0 0 70px;
        height: 105px;
    }
    .landing .box .sub {
        font-size: 12px;
    }
    .landing .box .title {
        font-size: 22px;
    }
    .landing .box .desc {
        font-size: 14px;
    }
    .landing .btn {
        margin: 16px 0;
    }
    .landing i[class^=icon] {
        left: 20px;
    }
    .landing i.icon-map-marker {
        left: 22px;
    }

    /* timecounter */
    .timecounter {
        font-size: 28px;
        padding: 20px 5px;
    }
    .timecounter .time span.days {
        display: block;
        margin-bottom: 16px;
    }
    .timecounter .time span span {
        font-size: 16px;
    }

    /* speakers */
    .speakers.carousel {
        white-space: normal;
    }
    .speakers .speaker {
        width: 100%;
        /*max-width: 307px;*/
    }
    .speakers .speaker .speaker-inner {
        padding: 40px 12px;
        height: 393px;
        line-height: 24px;
    }
    .speakers .photo {
        width: 200px;
        margin-bottom: 17px;
    }
    .speakers .speaker .speaker-inner .name {
        font-size: 24px;
        height: 55px;
        margin: 0 0 20px;
        position: relative;
        z-index: 20;
    }
    .speakers .name>span {
        max-height: 55px;
    }
    .speaker .description {
        display: none;
    }
    .speakers .speaker .view {
        display: block;
        line-height: 61px;
        font-size: 16px;
    }

    /* connect with us */
    .connect .connect-inner {
        font-size: 28px;
    }
    .connect .connect-inner .links {
        margin-top: 0;
    }

    /* sessions */
    .sessions.carousel {
        white-space: normal;
    }
    .sessions .session {
        width: 100%;
        /*max-width: 307px;*/
    }
    .sessions .session .session-inner {
        height: 402px;
        padding: 18px 18px 47px;
        font-size: 16px;
    }
    .sessions.condensed .session .session-inner {
        padding-bottom: 18px;
        font-size: 16px;
        text-align: left;
        padding-bottom: 60px;
    }
    .sessions .session .title {
        font-size: 20px;
        margin-bottom: 8px;
        height: 90px;
    }
    .sessions .session .title>span {
        max-height: 90px;
    }
    .sessions .session .speakers-thumbs {
        margin: 20px -10px;
        height: 132px;
    }
    .sessions .session .speaker {
        width: 62px;
        height: 62px;
    }
    .sessions .session .more {
        line-height: 50px;
        font-size: 16px;
    }

    /* sessions list */
    .sessions.list .time {
        padding-right: 0;
        font-size: 12px;
        width: 25%;
    }
    .sessions.list .session-inner {
        padding: 0;
        height: auto;
    }
    .sessions.list .session .speaker {
        width: 100%;
    }
    .sessions.list .session .title {
        padding: 0;
    }
    .sessions.list .day-floating .nav-tabs, .sessions.list .session .more {
        display: none;
    }

    /* single session */
    .sessions.single {
        margin: 30px 0 0;
    }
    .sessions.single .session > span {
        float: none;
        width: 100%;
    }
    .sessions.single .session .speakers-thumbs {
        width: 100%;
        margin: 30px -1em 0; height: auto;
    }
    .sessions.single .session .speaker {
        width: 100%;
        padding: 0 1em;
    }
    .sessions.single .session .speaker .name > span {
        max-width: none;
    }


    /* jumbotron */
    .jumbotron h1 {
        font-size: 36px;
        margin: 0 0 19px;
    }
    .jumbotron .lead {
        color: #5b5959;
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 0.5em;
    }

    /* facebook */
    .facebook .fb-view {
        padding: 46px 20px;
        font-size: 17px;
    }
    .facebook .fb-view .icon-facebook-alt {
        left: 10px;
    }
    .facebook .fb-event .num {
        font-size: 36px;
    }
    .facebook .fb-event {
        font-size: 14px;
    }

    /* twitter */
    .twitter .view {
        padding: 27px 20px;
        font-size: 17px;
    }
    .twitter .view .icon-twitter-alt {
        left: 10px;
    }
    .twitter .tweet.featured {
        height: auto;
        padding: 35px 18px;
    }
    .twitter .tweet.featured .avatar {
        float: none;
    }
    .twitter .tweet.featured .text {
        max-height: none;
        margin: 12px 0 0;
        font-size: 24px;
    }
    .twitter .tweet.featured .date {
        font-size: 18px;
        margin: 1em 0 0 0;
    }

    /* mediabox */
    .mediabox a.post {
        width: 100%;
    }
    .mediabox-wrapper .btn-group-header {
        top: 66px;
        margin-bottom: -66px;
        position: relative;
        float: none;
        width: 100%;
    }
    .mediabox-wrapper .btn-group-header .btn {
        padding: 6px; margin: 0;
        min-width: 0; width: 32%;
    }
    .mediabox {
        margin-top: 90px;
    }

    /* articles */
    .articles {
        margin-bottom: 20px;
    }
    .articles article {
        width: 100%;
        padding: 15px;
        float: none;
    }
    .articles.vertical article {
        width: 100%;
    }

    /* sponsors */
    .sponsors .sponsor { text-align: center; }
    .sponsors-lg .sponsor { width: 100%; }
    .sponsors-md .sponsor { width: 75%; }
    .sponsors-sm .sponsor { width: 50%; }

    /* contact us */
    form.contact-us button {
        margin-top: 1em;
        min-height: 0;
    }

    /* footer */
    footer .col h4 {
        padding: 21px;
        cursor: pointer;
        margin: 0;
    }

    /*
 EVENT ESPRESSO
 ------- */
    .tkt-slctr-tbl thead th:nth-child(2){width:auto;}
	
	/*
 WOOCOMMERCE
 ------- */
	#tile_registration .woocommerce .products td {padding: 5px; display: inline-block; text-align: center;}
	#tile_registration .woocommerce .product td.title{display: block;}
	#tile_registration .woocommerce .product td.qty{width: 100%;}
	#tile_registration .woocommerce .product td.price {display: block;}
	#tile_registration .woocommerce .product td.description {text-align: justify;}
}

@media only screen and (max-width: 500px) {

	.landing .bg {
		background: #5e5e5e !important;
	}
	
	.landing h1 {
		height: auto;
	}
	
}