@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');

a:focus {
    outline: 0;
    text-decoration: none;
}

/* =WordPress Core-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*Fonts */
@font-face {
    font-family: 'HelveticaNeueLT Std Cn';
    src: url('../fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype');
    src: url('../fonts/HelveticaNeueLTStd-Cn.eot');
    src: url('../fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Cn.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'HelveticaNeueLT Std Med Cn';
    src: url('../fonts/HelveticaNeueLTStd-HvCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-HvCn.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-HvCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-00FE;
}

/* Generic styles---------------- */
html, body {
    font-family: 'HelveticaNeueLT Std Cn' !important;
    font-size: 19px;
    font-weight: 400;
    color: #242424;
    height: 100%;
}
input, textarea, select, button,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "HelveticaNeueLT Std Cn" !important;
}

strong, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-family: "HelveticaNeueLT Std Med Cn" !important;
}

h1 {
    font-size: 44px;
    font-weight: 600;
}

h1 img.img-circle {
    max-width: 110px;
    max-height: 110px; /*border: 2px solid #157eab;*/
    box-shadow: 0 0 0 2px #157eab;
    margin-right: 40px;
    border-radius: 180px;
    position: relative;
    z-index: 10;
}

.truth-auth h2, h2 {
    font-size: 40px;
    font-weight: 300;
    color: #231f20;
    line-height: normal;
    letter-spacing: normal;
}

.row h2 {
    font-size: 1.5em;
    line-height: 40px;
}

h3 {
    font-size: 19px;
    font-weight: 400;
    color: #35aadc;
    margin: 0 0 12px;
}

.row h3 {
    font-size: 24px;
    font-weight: 500;
    color: #242424;
}

h3.sponsor {
    font-size: 18px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    margin: 0.5em 0 1em;
    color: #e73955;
}

h3.sponsor span {
    position: relative;
    bottom: -4px;
    padding-right: 1px;
    display: inline-block;
    background: #fff;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    color: #919191;
}

p {
    line-height: 1.58;
    margin: 6px 0 12px;
}

a {
    color: #1773b1;
}

hr {
    border-top: 2px solid #d2d2d2;
    margin: 32px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 4px;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bg-primary {
    background-color: #35aadc;
}

.bg-secondary {
    background-color: #289464;
}

.bg-fb-light {
    background-color: #3468af;
}

.bg-fb-dark {
    background-color: #1a4e95;
}

.bg-twitter {
    background-color: #35aadc;
}

.bg-gray {
    background-color: #f1f1f1;
}

.color-secondary {
    color: #e73955;
}

.border-secondary {
    border-color: #e73955;
}

.color-primary {
    color: #35aadc;
}

.border-primary {
    border-color: #35aadc;
}

/* widget */
.widget {
    margin-bottom: 2.5em;
}

/* tabs */
.nav-tabs {
    border-bottom: none;
    font-weight: 500;
    position: relative;
    margin-bottom: -51px;
    z-index: 999;
    padding-top: 8px;
}

.schedule {
    margin-top: 45px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #1268a0;
    border: 1px solid #1268a0;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {
    border-color: #1268a0 #1268a0 #1268a0;
    text-decoration: none;
    background-color: #1268a0;
}

.nav-tabs > li > a {
    margin-right: 3px;
    margin-left: 0;
    line-height: 1;
    border-radius: 0;
    background-color: #3f3f3f;
    border-color: #afafaf;
    border-bottom-color: transparent;
    color: #fff;
    padding: 9px 12px;
}

.nav-tabs > li > a:after {
    content: " ";
    display: inline-block;
    background: url("../images/icons.png");
    background-position: -120px -60px;
    width: 12px;
    height: 8px;
    font-size: 0.75em;
    margin: 0 0 0 1em;
}

.nav-tabs.pull-right > li > a {
    margin-right: 0;
    margin-left: 3px;
}

/* CONTAINER------------ *//*@media (min-width: 1024px) {*//*.container {*//*width: 1008px;*//*height: auto;*//*}*//*}*//* HEADER--------- */
header {
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header .col-md-3 {
    padding-left: 0
}

header .col-md-9 {
    padding-right: 0
}

header .navbar, header .navbar-collapse {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0
}

header.transition, header .transition {
    -webkit-transition: height 300ms linear, margin 300ms linear;
    -moz-transition: height 300ms linear, margin 300ms linear;
    -ms-transition: height 300ms linear, margin 300ms linear;
    -o-transition: height 300ms linear, margin 300ms linear;
    transition: height 300ms linear, margin 300ms linear;
}

header ul {
    text-align: center;
    list-style: none;
    margin: 39px 0 0;
    padding: 0;
}

a#head-logo {
    float: left;
    margin-top: 33px;
    max-width: 250px;
    position: relative;
    z-index: 9;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

header ul li:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    background: #8bb0da;
    height: 15px;
    transform: translateY(-50%);
}

header ul li ul li:after, header ul li:nth-last-child(2):after, header ul li:last-child:after {
    content: none;
    display: none;
}

header ul li a:hover, header ul li a:focus, header ul li a {
    display: block;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: transparent;
    padding: 11px 7px;
    letter-spacing: -0.5px;
}
header ul li a:hover {
    background-color: transparent !important;
}

header ul li.current-menu-item a, header ul li a:hover {
    text-decoration: none;
}

header ul li:not(.menu-item-has-children):last-child a:hover, header ul li:not(.menu-item-has-children):last-child a {
    background-color: #fc6704 !important;
    color: #fff;
}

header ul ul {
    display: none;
    position: absolute;
    background-color: #3d3d3d;
    height: auto;
    min-width: 180px;
    text-align: left;
    border-radius: 0;
    text-transform: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

header ul .expand > ul {
    display: block;
}

header ul ul li {
    position: relative;
    display: block;
    color: #fff;
}

header ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    background-color: #818181;
    border: none;
    border-radius: 0;
}

/* heading */
.heading {
    position: relative;
    display: block;
    background: url(http://therealtruthabouthealthconference.com/wp-content/uploads/2014/10/pageheader3.jpg);
    color: #fff;
    margin: 0 0 45px;
}

.heading .container {
    position: relative;
    display: table;
}

.heading h1 {
    display: block;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
    font-size: 49.9px;
    font-weight: 700;
    margin: 0 190px 0;
    padding: 50px 0 50px;
    line-height: 1.2;
    letter-spacing: 3px;
}

.heading .nav {
    display: table-cell;
    width: 30%;
    margin: 0;
    color: #fff;
    font-size: 32px;
    vertical-align: middle;
    text-align: right;
}

.heading .nav a {
    color: #fff;
    margin: 0 12px;
}

.heading .nav .icon-angle-left {
    background-position: -240px -60px;
    width: 18px;
    height: 30px;
}

.heading .nav .icon-angle-right {
    background-position: -360px -60px;
    width: 18px;
    height: 30px;
}

/* time counter */
.timecounter {
    position: relative;
    border-radius: 6px;
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    margin: 0;
    padding: 21px 32px;
    overflow: auto;
    background-color: #289464;
}

.timecounter:before {
    background: url("../images/icons.png");
    background-position: 0 -60px;
    width: 37px;
    height: 37px;
    content: " ";
    position: absolute;
    left: 34px;
    top: 50%;
    margin-top: -18px;
}

.timecounter > div {
    display: table;
    width: 100%;
    height: 100%;
}

.timecounter .title, .timecounter .time {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.timecounter .title {
    padding-left: 65px;
}

.timecounter .time {
    text-align: center;
}

.timecounter .time span {
    font-size: 44px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    line-height: 1.15em;
}

.timecounter .time span span {
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

/* forms */
input[type=text], textarea {
    font-size: 18px;
    background: #f1f1f1;
    border: none;
    box-sizing: border-box;
    padding: 0.9em;
    border-radius: 2px;
    outline: none;
    margin: 0 0 1em;
}

input.placeholder, textarea.placeholder {
    color: #6d6d6d;
}

/* buttons */
.btn {
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    margin: 0 0 0.15em;
    transition: background .8s ease, opacity .8s ease;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-lg {
    font-size: 21px;
    padding: 17px 60px;
}

.btn.btn-sm, .btn.btn-xs {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 0;
}

.btn-primary {
    color: #ffffff;
    background-color: #35aadc;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #ffffff;
    border-color: transparent;
    opacity: 0.8;
}

.btn-primary:focus {
    outline-color: #fff;
}

.btn-secondary {
    color: #fff;
    background-color: #fc6704;
    border-color: rgba(232, 58, 86, 0.5);
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    color: #fff;
    background-color: #ea937f;
    border-color: transparent;
}

.btn-header {
    min-width: 230px;
    text-transform: uppercase;
    vertical-align: top;
}

h2 + .btn-header {
    margin-top: -2em;
}

.btn-group-header {
    margin-top: -1em;
    text-transform: uppercase;
}

.btn-group-header .btn {
    width: 110px;
}

.btn-check {
    border-width: 2px;
    border-style: solid;
    padding: 3px 16px 4px;
    background-color: transparent;
    min-width: 110px;
}

.btn-check.btn-primary {
    border-color: #35aadc;
    color: #35aadc;
}

.btn-check.btn-primary.active, .btn-check.btn-primary:hover {
    color: #fff;
    background-color: #35aadc;
}

/* carousel */
.carousel {
    padding-bottom: 30px;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators .active {
    width: 17px;
    height: 17px;
    background-color: #919191;
    margin: 0 5px;
}

.carousel-indicators li {
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1px solid #919191;
    border-radius: 17px;
    margin: 0 5px;
}

/* jumbotron */
.jumbotron {
    text-align: center;
    background: #ebebeb;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 86px 0;
}

.container .jumbotron {
    border-radius: 0;
}

.jumbotron .bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 0;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: 300;
    color: #242424;
    margin: 0 0 19px;
}

.jumbotron .lead {
    color: #5b5959;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 0.5em;
}

/* scroll to top */
#scroll-up {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 20px;
    font-size: 0;
    font-weight: 300;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #1268a0;
    text-align: center;
    text-decoration: none;
    z-index: 999;
    border-radius: 50%;
}

#scroll-up:before {
    display: block;
    background: url(../images/icons.png);
    background-position: -90px -60px;
    width: 13px;
    height: 12px;
    content: " ";
    margin: 0 auto;
    float: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* backdrop */
#backdrop {
    display: none;
    position: fixed;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* LANDING - big image */
.landing {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: transparent;
    border-radius: 0;
    height: 752px;
    font-size: 30px;
}

.landing h1 {
    display: block;
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 89px 0 0;
    margin: 0 0 20px;
    height: 245px;
}

.landing h1 > span {
    display: block;
    max-height: 164px;
}

.landing .lead {
    height: 84px;
    text-transform: uppercase;
    font-size: 30px;
}

.landing .btn {
    align: center;
}

.landing .bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 752px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -1;
}

.landing .box {
    border-radius: 4px;
    height: 160px;
    text-align: left;
    padding: 40px 40px 40px 96px;
    box-sizing: border-box;
    opacity: .92;
    background: #35aadc;
}

.landing .box .box-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.landing .box .box-inner > div {
    display: table-cell;
    vertical-align: middle;
}

.landing .box span {
    display: block;
    line-height: 1.2em;
}

.landing i[class^=icon] {
    position: absolute;
    top: 50%;
    left: 55px;
    margin-top: -18px;
    font-size: 36px;
}

.landing .box .sub {
    font-size: 16px;
    font-weight: 500;
}

.landing .box .title {
    font-size: 36px;
    font-weight: 300;
}

.landing .box .desc {
    font-size: 19px;
    font-weight: 500;
}

/*CONTENT------- *//* speakers */
.speakers {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}

.speakers.carousel {
    text-align: center;
    white-space: nowrap;
}

.speakers .speaker {
    display: inline-block;
    padding: 0 15px;
    margin: 15px -1.5px;
    width: 33.33333%;
    white-space: normal; /* safari inline-block fix */
    display: -moz-inline-stack;
    vertical-align: top;
}

.speakers .speaker .speaker-inner {
    position: relative;
    display: block;
    padding: 0px 0px 0px;
    height: 330px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    line-height: 24px;
    background: #fff;
    box-shadow: 3px 4px 4px 1px #6b6b6b;
}

.speakers .speaker.featured .speaker-inner {
    background: #e83a56;
}

.speakers .speaker.featured .speaker-inner:after {
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    content: " ";
    background: url("../images/icons.png");
    background-position: 420px 0;
    width: 0px;
    height: 0px;
    z-index: 30;
}

.speakers .photo {
    display: block;
    margin: 0 auto 10px;
    z-index: 20;
    position: relative;
}

.speakers .speaker .speaker-inner:hover .photo {
    display: none;
}

.speakers .photo img {
    border-radius: 4px;
    width: 100% /*border: 2px solid #157eab;*/
}

.speakers .featured .photo img {
    border-color: #9d1127;
}

.speakers .name {
    display: table;
    font-size: 27px;
    font-weight: 500;
    color: #35aadc;
    height: 55px;
    width: 100%;
    margin: 0 0 20px;
    font-family: "Helvetica", Helvetica !important;
}

.speakers .name > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: normal
}

.speakers .speaker .speaker-inner:hover .name {
    display: none;
}

.speaker .description {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
    padding: 20px;
}

.speaker .speaker-inner:hover .description {
    color: #da522b;
    display: block;
    font-size: 26px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-family: "Helvetica", Helvetica !important;
}

.speakers .speaker .view {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 60px;
    color: #fff;
    background: #da522b;
    font-size: 16px;
    font-weight: 500;
    z-index: 20;
    text-transform: uppercase;
}

.speakers .speaker .speaker-inner:hover {
    color: #ebf6fb;
}

.speakers .speaker.featured .speaker-inner:hover {
    color: #e83a56;
}

.speakers .speaker .speaker-inner:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.speakers .speaker .speaker-inner:hover .view {
    display: block;
}

.speakers .speaker .speaker-inner:hover .name {
    position: relative;
    color: inherit;
    z-index: 20;
}

/* connect with us */
.connect {
    position: relative;
    border-radius: 4px;
    box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    font-size: 34px;
    font-weight: 300;
    padding: 10px 10px;
    margin: 0;
    background-color: #34a9da;
}

.connect:before {
    content: " ";
    background: url("../images/icons.png");
    background-position: 0 -120px;
    width: 38px;
    height: 38px;
    position: absolute;
    left: 34px;
    top: 50%;
    margin-top: -18px;
}

.connect .connect-inner {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 80px;
}

.connect .connect-inner > span {
    display: table-cell;
    width: 34%;
    height: 100%;
    padding-left: 65px;
    vertical-align: middle;
}

.connect .links {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    text-align: center;
}

.connect .links a {
    display: inline-block;
    position: relative;
    font-size: 42px;
    width: 58px;
    height: 70px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    vertical-align: bottom;
}

.connect .links a i {
    display: block;
    height: 60px;
    width: 60px;
    position: relative;
    margin: 5px 0 0 5px;
    z-index: 10;
}

.connect .links a:hover:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    content: "";
    opacity: .46;
    -moz-border-radius: 35px / 35px 35px 35px 35px;
    -webkit-border-radius: 35px / 35px 35px 35px 35px;
    border-radius: 35px / 35px 35px 35px 35px;
    background-clip: padding-box;
    background-color: #3f3f3f;
    z-index: 0;
}

/* sessions */
.sessions {
    margin-left: -15px;
    margin-right: -15px;
}

.sessions.carousel {
    text-align: center;
    white-space: nowrap;
}

.sessions .session {
    display: inline-block;
    padding: 0 15px;
    margin: 15px -1.5px;
    width: 33.33333%;
    white-space: normal;
    overflow: hidden;
}

.sessions .session .session-inner {
    position: relative;
    display: block;
    height: 402px;
    padding: 19px 19px 47px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    background: #ebebeb;
    color: #5b5959;
}

.sessions.condensed .session .session-inner {
    height: auto;
}

.session-title, .sessions .session .title {
    display: table;
    color: #1268a0;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    height: 98px;
}

h1.session-title {
    height: auto;
    margin: 20px 0;
}

.session-details .session-info {
    margin-bottom: 10px;
    color: #303030;
    font-size: 16px;
}

.session-details .session-info strong {
    display: block;
}

.session-details p {
    margin-top: 20px;
}

.sessions .session .title > span {
    display: table-cell;
    vertical-align: middle;
    max-height: 98px;
    line-height: 1.5;
}

.sessions .session .desc {
    text-transform: uppercase;
    font-weight: 300;
    display: block;
}

.sessions .session .desc strong {
    text-transform: none;
    font-weight: bold;
}

.sessions .session .speakers-thumbs {
    display: block;
    margin: 16px -7px;
    width: 100%;
    height: 135px;
    text-align: center;
    overflow: hidden;
    z-index: 20;
    position: relative;
    float: left;
}

.sessions .session .speaker {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 2px 1px;
    padding: 0;
}

.sessions .session .speaker img {
    max-width: 100%;
    border-radius: 0;
}

.sessions .session .speaker.featured img {
    border-color: #e83a56;
    box-shadow: 0px 0px 0px 1px #e83a56;
}

.sessions .session .more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 47px;
    color: #fff;
    background: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
    z-index: 20;
    padding: 0 19px;
}

.sessions .session .more i {
    margin: 2px 0 -2px 6px;
}

.sessions.condensed .session .more {
    line-height: 34px;
}

/* sessions - list */
.sessions.list {
    margin: 2px 0 0;
    clear: both;
}

.sessions.list .day-floating {
    position: relative;
    color: #3f3f3f;
    font-weight: 500;
    z-index: 40;
    margin-top: -2px; /*height: 60px;*/
    background: #fff;
}

.sessions.list .day-floating.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    z-index: 999;
}

.sessions.list .day-floating.fixed.absolute {
    position: absolute;
}

.sessions.list .session {
    float: none;
    display: block;
    padding: 16px 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
}

.sessions.list .time {
    display: block;
    float: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    clear: both;
}

.sessions.list .session-inner {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background: none;
    text-align: left;
    border-radius: 0;
}

.sessions.list .session .title {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 24px;
    line-height: normal;
    letter-spacing: normal;
}

.sessions.list .session .location {
    color: #5b5959;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.sessions.list .session .speakers-thumbs {
    margin: 15px 0 0;
    height: auto;
    text-align: left;
    overflow: visible;
    display: block;
    width: 100%;
}

.sessions.list .session .speaker {
    height: auto;
    width: 33%;
    margin: 10px 0;
    padding: 0;
    color: #242424;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
}

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image, .sessions.list .session .speaker img {
    float: none;
    width: 310px;
    height: auto;
    margin: 0 auto;
    clear: both;
    display: block;
}

.sessions.single .speaker-thumb-name a.speaker {
    padding: 0;
    font-weight: 700;
}

.col-md-3.speaker-thumb-image {
    margin-bottom: 25px;
}
.sessions.list .session .speaker .book-name,
.sessions.list .session .speaker .name {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    padding: 0 10px;
}

.sessions.list .session .speaker .name > span {
    position: relative;
    margin: 20px auto 5px;
    flex: 1;
    align-self: center;
    text-align: center;
}
.sessions.list .session .speaker .name > span.book-name {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    color: #333;
}

.sessions.list .more {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    display: inline-block;
    float: right;
    line-height: 32px;
    width: auto;
    background-color: #3f3f3f;
    border: none;
    font-size: 14px;
    font-weight: normal;
}

/* sessions filtering */
.schedule ul ul {
    display: none;
    position: absolute;
    background-color: #3d3d3d;
    height: auto;
    min-width: 180px;
    text-align: left;
    border-radius: 0;
    text-transform: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    margin-left: 3px;
    right: 0
}

/*.schedule ul li:hover > ul {display: block;}*/
.schedule .hover {
    display: block;
}

.schedule ul ul li {
    position: relative;
    display: block;
    color: #fff;
    padding: 3px 0;
}

.schedule ul ul li a {
    padding: 7px 14px;
    max-height: none;
    height: auto;
    color: #fff;
    display: inline-block;
    font-size: 20px;
}

.schedule ul ul li a:hover {
    text-decoration: none;
}

/* single session */
.sessions.single {
    margin-left: 0;
    margin-right: 0;
}

.sessions.single .session {
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0 0;
    padding: 0;
    overflow: inherit;
    width: 100%;
    color: #5b5959;
}

.sessions.single .session > span {
    display: block;
    text-transform: uppercase;
}

.sessions.single .session > span strong {
    text-transform: none;
}

.sessions.single .location strong {
    color: #35aadc;
}

.sessions.single .session .speakers-thumbs {
    display: block;
    margin: 0 -1em;
    padding: 1em 0;
    height: auto;
    text-align: left;
}

.sessions.single .session .speaker {
    display: block;
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 6px;
    padding: 0 1em;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #242424;
}

.sessions.single .session .speaker img {
    max-width: 54px;
    margin: 0 0.5em 0 0;
    float: left;
}

.sessions.single .speaker .name {
    display: table;
    height: 54px;
}

.sessions.single .speaker .name > span {
    display: table-cell;
    vertical-align: middle;
    height: 54px;
    max-height: 54px;
    max-width: 70px;
}

.single-session-link {
    cursor: default;
}

/* mediabox */
.mediabox {
    margin-top: 2em;
}

.mediabox:after {
    content: "";
    clear: both;
}

.mediabox a.post {
    position: relative;
    display: block;
    width: 25%;
    height: 245px;
    float: left;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.mediabox a.post .wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 245px;
    height: 250px;
    vertical-align: top;
}

.mediabox a.post img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    vertical-align: middle; /*margin:-100%;*/
    vertical-align: middle;
    position: relative;
    z-index: -1;
}

.mediabox a.post .desc {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    z-index: 20;
}

.mediabox a.post .desc strong {
    text-transform: uppercase;
    display: block;
    font-size: 19px;
    font-weight: 300;
    color: #35aadc;
}

.mediabox a.post:hover .desc {
    display: block;
}

.mediabox a.post:hover:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    background: #000000;
    opacity: 0.7;
    z-index: 10;
}

.mediabox a.post:hover:before {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    text-align: center;
    margin-top: 65px;
    content: " ";
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    background: url(../images/icons.png);
    background-position: -420px -60px;
    z-index: 11;
}

.mediabox a.post.video:hover:before {
    background-position: 0 -180px;
    width: 22px;
    height: 30px;
    margin-top: 70px;
    margin-left: -11px;
}

/* explore map */
.location {
}

.location .explore {
    background: #f1f1f1;
    padding: 0 4px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    overflow: hidden;
    height: 475px;
    text-align: center;
    color: #e73955;
}

.location .explore .heading {
    margin: 0 -4px 32px;
    padding: 19px 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    background: #e73955;
}

.location .explore .heading a {
    color: #fff;
    text-decoration: none;
}

.location .explore .scrollable {
    height: 350px;
    overflow: auto;
}

.location .explore ul {
    list-style-type: none;
    margin: 25px 0 0;
    padding: 0;
}

.location .explore ul li a {
    display: block;
    padding: 4px 0;
    color: inherit;
    text-transform: uppercase;
}

.location .map {
    height: 475px;
    border-radius: 4px;
    border: 1px solid #e73955;
    overflow: hidden;
}

#tile_explore .map img {
    max-width: none !important;
}

/* articles */
.articles {
    margin-top: 0;
}

.articles article {
    padding-top: 16px;
    padding-bottom: 16px;
}

.articles article:after {
    content: "";
    clear: both;
}

.articles article .image {
    float: left;
    width: 310px;
    height: 189px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.articles article:hover .image, .articles article:hover .post-content {
    border-color: #e73955;
}

.articles article .image img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto;
}

.articles article .image .date {
    position: absolute;
    top: 13px;
    left: 13px;
    display: block;
    width: 54px;
    height: 74px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    line-height: normal;
    padding: 4px 0 0;
    background-color: #e83a56;
}

.articles article .image .date span {
    display: block;
}

.articles article .image .date .day {
    font-size: 30px;
    margin: -4px 0;
}

.articles article .image .date .month {
    font-size: 16px;
}

.articles article .image .date .year {
    font-size: 12px;
}

.articles article .post-content {
    margin-left: 340px;
    border-radius: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.articles article .post-content a {
    display: block;
    padding: 15px 21px;
    height: 189px;
    text-decoration: none;
    color: inherit;
}

.articles article .post-content .heading {
    display: block;
    font-weight: normal;
    font-size: 24px;
    margin: 0.5em 0;
    background: none;
    color: #e73955;
    line-height: 1.2;
}

.articles article .post-content .perex {
    display: block;
    font-size: 14px;
    color: #000;
}

/* vertical articles */
.articles.vertical {
    margin: -15px -15px 15px -15px;
}

.articles.vertical:after {
    content: " ";
    display: block;
    clear: both;
}

.articles.vertical article {
    width: 50%;
    padding: 15px;
    float: left;
}

.articles.vertical article:nth-child(2n-1) {
    clear: both;
}

.articles.vertical article .image {
    float: none;
    width: 100%;
    height: 188px;
}

.articles.vertical article .post-content {
    margin-left: 0;
    padding: 16px 21px;
    background: #f1f1f1;
    border: none;
}

.articles.vertical article .post-content a {
    padding: 0;
    height: auto;
}

.articles.vertical article .share {
    display: block;
    padding: 28px 0 0;
}

/* post */
.post-info {
    font-size: 16px;
    font-weight: 300;
    margin-top: 3em;
}

/* paging */
.nav-paging {
    clear: both;
    margin: 1em 0 0;
}

.nav-paging:after {
    content: " ";
    display: block;
    clear: both;
}

.nav-paging .nav-previous, .nav-paging .nav-next {
    padding: 0 15px;
    font-size: 24px;
    max-width: 50%;
    text-align: left;
}

.nav-paging .nav-next {
    text-align: right;
}

.nav-paging .nav-previous a, .nav-paging .nav-next a {
    color: #121212;
}

.nav-paging .nav-previous a:before {
    content: "Â« ";
}

.nav-paging .nav-next a:after {
    content: " Â»";
}

/* contact us */
form.contact-us {
    padding-top: 1em;
}

form.contact-us input[type=text] {
    width: 100%;
}

form.contact-us textarea {
    width: 100%;
    height: 220px;
    resize: vertical;
}

/* facebook */
.facebook .fb-event {
    height: 291px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 2em;
    padding: 12% 8% 0;
    border-radius: 4px;
}

.facebook .fb-event .col {
    width: 33%;
    float: left;
}

.facebook .fb-event i {
    font-size: 50px;
}

.facebook .fb-event .num {
    display: block;
    margin: 17px 0 6px;
    font-size: 50px;
    font-weight: 300;
}

.facebook .fb-view {
    display: block;
    position: relative;
    width: 100%;
    height: 291px;
    padding: 231px 32px 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
}

.facebook .fb-view i {
    font-size: 0.75em;
}

.facebook .fb-view .icon-facebook-alt {
    position: absolute;
    top: 50px;
    left: 45px;
    font-size: 50px;
}

/* twitter */
.twitter.row {
    margin-top: -15px;
    margin-bottom: -15px;
}

.twitter.row > div[class^=col] {
    padding-top: 15px;
    padding: 15px;
}

.twitter .view {
    display: block;
    position: relative;
    width: 100%;
    height: 291px;
    padding: 196px 32px 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
}

.twitter .view .icon-twitter-alt {
    position: absolute;
    top: 50px;
    left: 45px;
    font-size: 50px;
}

.twitter .view a {
    display: block;
    color: inherit;
    margin-top: 12px;
}

.twitter .view a i {
    font-size: 0.75em;
}

.twitter .tweet {
    height: 291px;
    border: 1px solid #4fc4f6;
    border-radius: 4px;
    padding: 22px;
}

.twitter .tweet .text {
    font-size: 18px;
    color: #000;
    margin: 1em 0;
    max-height: 150px;
}

.twitter .tweet .date {
    color: #5b5959;
    font-size: 14px;
}

.twitter .tweet.featured {
    padding: 64px 46px;
}

.twitter .tweet.featured .avatar {
    float: left;
}

.twitter .tweet.featured .text {
    font-size: 26px;
    margin: -12px 0 0 95px;
}

.twitter .tweet.featured .date {
    font-size: 19px;
    margin: 1em 0 0 95px;
}

/* sponsors */
.sponsors {
    margin-bottom: 2em;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.sponsors .sponsor {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 15px;
    margin-bottom: 1em;
}

.sponsors .sponsor img {
    max-width: 100%;
}

.sponsors-lg .sponsor {
    width: 33.3%;
}

.sponsors-md .sponsor {
    width: 25%;
}

.sponsors-sm .sponsor {
    width: 16.6%;
}

/* SIDEBAR-----------*/
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    list-style-type: none;
    margin: 0 0 40px;
    padding: 0;
}

.sidebar .tyler_comments_display h2 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #35aadc;
    padding: 25px;
    margin: 0 0 8px;
    border-radius: 4px;
}

.sidebar .tyler_comments_display h2:before {
    background: url("../images/icons.png");
    background-position: -360px -120px;
    content: " ";
    height: 36px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -1em;
}

.sidebar .tyler_comments_display li a {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 24px 16px;
    margin: 8px 0;
    font-size: 18px;
    color: #313131;
    text-decoration: none;
}

.sidebar .tyler_comments_display li a:hover {
    border-color: #35aadc;
}

.sidebar .tyler_comments_display li .time {
    font-size: 16px;
    color: #e83a56;
    display: block;
    margin: 16px 0 0;
}

.sidebar .widget_text h2 {
    font-size: 18px;
    font-weight: 400;
    color: #e83a56;
    border-bottom: 1px solid #e83a56;
    border-radius: 0;
    background: none;
    padding: 0;
    margin: 0 0 14px;
    text-align: left;
    text-transform: uppercase;
}

.sidebar .widget_text h2 > span {
    position: relative;
    bottom: -8px;
    padding-right: 8px;
    display: inline-block;
    background: #fff;
}

.sidebar .widget_text li {
    padding: 8px 0;
    text-align: center;
}

/* COMMENTS */
.comments-area {
    margin: 2em 0;
}

.comments-area h2 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    background: #35aadc;
    padding: 13px;
    margin: 0 0 12px;
    border-radius: 4px;
}

.comments-area h2:before {
    background: url("../images/icons.png");
    background-position: -360px -120px;
    content: " ";
    height: 36px;
    width: 45px;
    display: inline-block;
    vertical-align: top;
    margin: -3px 0;
}

.comments-area form input, .comments-area form textarea {
    width: 100%;
    margin: 0 0 10px;
}

.comments-area form input[type=submit] {
    font-size: 24px;
    font-weight: 500;
    background: #e83a56;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: none;
    padding: 14px;
}

.comments-area .commentlist {
    position: relative;
}

.comments-area .commentlist:before {
    display: table;
    content: " ";
}

.comments-area .commentlist, .comments-area .commentlist .comment {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comments-area .commentlist .comment {
    position: relative;
    padding: 0 0 1em;
    margin: 12px 0;
    font-size: 16px;
}

.commentlist .comment .comment-content {
    position: relative;
    border: 1px solid #35aadc;
    padding: 22px;
    border-radius: 4px;
}

.commentlist .comment .comment-content p {
    margin: 0;
}

.commentlist .comment .comment-content:after {
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
    border: 1px solid #35aadc;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    background: #fff;
    bottom: -9px;
    left: 22px;
}

.commentlist .comment .comment-meta {
    margin-top: 15px;
    font-weight: 500;
    color: #393939;
}

.commentlist .comment .comment-author .fn:after {
    content: ", ";
}

.commentlist .comment .comment-meta a {
    color: inherit;
}

.commentlist .comment .reply, .commentlist .comment .comment-author img, .commentlist .comment .comment-author .says {
    display: none;
}

/*FOOTER------- */
footer {
    padding-top: 45px;
    position: relative;
    z-index: 30;
    background-color: #105f91;
}

footer p {
    margin: 0;
}

footer .col > div {
    color: #f1f1f1;
    padding: 8px 0 0;
    border-top: 4px solid rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

.footer-tyler-event {
    font-size: 27.08px;
    color: #fff;
}

footer .col h4 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin: 0 0 0.5em;
}

footer .col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .col ul li a:hover {
    text-decoration: none;
}

footer .col ul li a {
    font-size: 20px;
    padding: 20px 13px;
    color: #ffffff;
    display: block;
    letter-spacing: 1px;
    font-family: "HelveticaNeueLT Std Cn" !important;
    font-weight: 400;
}

footer .credits {
    padding: 22px 15px;
    font-size: 10px;
    background: #0d4b73;
    text-align: center;
    color: #35aadc;
}

.viewbio {
    font-weight: 700;
}

.viewbio {
    color: rgb(9, 103, 170);
    opacity: 0.7;
}

.footer-tyler-event a:hover, .footer-tyler-event a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.viewbio:hover {
    color: rgb(9, 103, 170);
    opacity: 1;
    text-decoration: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer Widget */
footer .ef_footer_text_columns h1, footer .ef_footer_text_columns h2, footer .ef_footer_text_columns h3 {
    color: #f1f1f1;
}

/*TWITTER FULLSCREEN------- */
#twitter_fullscreen {
    padding: 172px 0 62px;
    text-align: center;
}

#twitter_fullscreen ul {
    margin: 0;
    padding: 0;
}

#twitter_fullscreen li {
    border: 1px solid #35aadc;
    border-radius: 10px;
    float: left;
    list-style: none;
    margin: 30px 2.06% 32px 0;
    min-height: 330px;
    padding: 60px 20px 20px;
    position: relative;
    width: 31.08%;
    height: 330px;
}

#twitter_fullscreen li span:before {
    content: "";
    height: 82px;
    left: 50%;
    margin-left: -54px;
    position: absolute;
    top: -41px;
    width: 108px;
}

#twitter_fullscreen li:last-child {
    margin-right: 0;
}

#twitter_fullscreen li span {
    color: #121212;
    font-size: 18px;
    line-height: 32px;
}

#twitter_fullscreen li span + a {
    display: block;
    font-size: 18px;
    margin-top: 5px;
}

#twitter_fullscreen li a {
    color: #6d6d6d;
}

#twitter_fullscreen li a:hover {
    color: #6d6d6d;
    opacity: .5;
}

#twitter_fullscreen li:first-child {
    border: none;
    border-radius: 0;
    margin: 0 0 32px;
    min-height: inherit;
    padding: 0;
    width: 100%;
    height: auto;
}

#twitter_fullscreen li:first-child span {
    font-size: 42px;
    line-height: 52px;
}

#twitter_fullscreen li:first-child span:before {
    display: none;
}

#twitter_fullscreen li:first-child span + a {
    font-size: 19px !important;
}

#twitter_fullscreen li span a:hover {
    opacity: 1;
}

.page-template-twitter-php header, .page-template-twitter-php footer {
    display: none;
}

.page-template-twitter-php #twitter_fullscreen {
    padding: 90px 0 62px;
    text-align: center;
}

.page-template-twitter-php #twitter_fullscreen li:first-child .avatar {
    display: none;
}

.page-template-twitter-php #twitter_fullscreen .avatar {
    width: 70px;
    position: absolute;
    top: 0;
    left: 40%;
    top: -29px;
    border-radius: 6px;
}

.page-template-twitter-php #twitter_fullscreen span:before {
    background-image: none;
}

/*EVENT ESPRESSO------- */
.tkt-slctr-tbl {
    width: 100%
}

.tkt-slctr-tbl thead th:nth-child(2) {
    text-align: right;
}

/*WOOCOMMERCE------- */
#tile_registration .products {
    width: 100%;
    margin: 20px 0 20px 0;
}

#tile_registration .woocommerce .products tr.product:first-child {
    border-top: 1px solid #ccc;
}

#tile_registration .woocommerce .products tr.product {
    border-bottom: 1px solid #cccccc;
}

#tile_registration .woocommerce .products td {
    padding: 5px;
}

#tile_registration .woocommerce td.qty {
    width: 150px;
    text-align: center;
}

#tile_registration .woocommerce form.cart {
    display: inline-block;
}

#tile_registration .woocommerce .products tr.product h3 {
    margin: 0;
    font-size: 16px;
}

#tile_registration .woocommerce tr .btn {
    padding: 5px 15px;
}

/*MEDIA CUSTOMIZATION------- */
.blueimp-gallery > .close {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 50px;
    display: block;
    font-size: 150px;
}

#cs-content .x-video.embed .x-video-inner iframe, #cs-content .x-video.embed .su-youtube{margin-bottom: 0}
#cs-content .x-video.embed .x-video-inner iframe, #cs-content .x-video.embed {
    max-height: 420px;
    margin: 0 auto;
    max-width: 658px;
    border: 0;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

#cs-content .x-card-outer.center-vertically .back .x-face-content {
    padding: 5% !important;
}

#cs-content #x-section-6 blockquote.x-blockquote {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

.footerlinks .col.col-md-4 {
    width: 100%;
}

#menu-footer-menu li {
    display: inline-block;
    margin-right: 0;
    position: relative;
}

#menu-footer-menu li:after {
    display: block;
    position: absolute;
    content: '';
    height: 17px;
    right: 0;
    top: 50%;
    z-index: 999999;
    border-right: 1px solid;
    transform: translateY(-50%);
}

#menu-footer-menu li:nth-last-child(2):after, #menu-footer-menu li:last-child:after {
    display: none;
}

footer .container {
    text-align: center;
}

.single-speaker img.size-full {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.sessions.list .day-floating > span {
    display: block;
    clear: both;
    padding: 15px 25px;
    max-height: 60px;
    background: #1268a0;
    border-bottom: 2px solid #1268a0;
    color: #fff;
}

.x-accordion-inner dt {
    position: relative;
    margin-bottom: 5px;
    font-weight: 500;
}

.x-accordion-inner dd {
    margin-bottom: 25px;
    font-family: "Helvetica", Helvetica !important;
    font-size: 30px;
}

#cs-content .x-video .x-video-inner {
    height: 100% !important;
    padding: 0 !important;
}

#cs-content .x-feature-box-graphic i:before {
    transform: translateY(-25%);
}

body {
    letter-spacing: normal !important;
    line-height: normal !important;
}

div#x-section-5 {
    clear: both;
}

.hilton-midtown p {
    font-size: 28.94px;
    letter-spacing: 1px;
    font-family: "HelveticaNeueLT Std Cn";
    color: #fff;
    font-weight: 400;
    line-height: normal;
}

div#x-section-4 {
    clear: both
}

.home header .container {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 1920px) {
    footer {
        background-size: 100% 420px;
    }
}

@media (min-width: 1200px) {
    .home header .container {
        padding: 0
    }

    #cs-content .fourblocks .x-container.max.width {
        display: flex;
    }
}

@media (max-width: 1199px) {
    #cs-content .fourblocks .x-column.x-1-4 {
        width: 100%;
        margin-bottom: 4%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .envissues .x-column:last-child .x-text:last-child {
        margin-bottom: 0;
    }
    body:not(.home) #cs-content .x-section {
        padding: 30px 0 0 !important;
    }
    header .container {
        width: 100%;
    }
    .faq-section.homefaq {
        margin-top: 0 !important;
    }
    #cs-content .x-column.x-1-3 {
        float: left;
        width: 30.666666% !important;
        margin: 0 0 0 15px !important;
    }
    .x-container.speakers-title.max.width {
        margin-bottom: 30px !important;
    }
    #cs-content .fourblocks .x-column.x-1-4 {
        width: 100%;
        margin-bottom: 4%;
    }

    #cs-content #streamsteps .x-column.x-1-3 {
        width: 30% !important;
    }

    #cs-content .x-card-outer.center-vertically .x-face-content {
        float: left;
        width: 100%;
        padding: 5px !important;
    }

    #cs-content .x-card-outer .x-face-title {
        letter-spacing: 0;
    }

    .sessions.list .session .speaker {
        width: 50% !important;
    }

    .sessions.single .session .speakers-thumbs {
        margin: 30px 0 !important;
    }

    .col-md-9.speaker-thumb-name {
        margin-bottom: 30px;
    }

    .sessions.single .session .speaker {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    body:not(.home) header ul li a {
        color: #000;
    }
}

@media (max-width: 767px) {
    .sessions.single .session .speakers-thumbs {
        margin: 30px 0 !important;
    }

    .col-md-9.speaker-thumb-name {
        margin-bottom: 30px;
    }

    .sessions.list .day-floating.fixed {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .footer-tyler-event a {
        display: inline-block;
    }

    .sessions.list .time {
        width: 100% !important;
    }
}

#cs-content #statistics .x-container.featuredlistfullwidth.max.width {
    width: 100%;
    margin: 0 !important;
    float: none;
    display: block;
    max-width: 100%;
}

#cs-content .x-feature-list .x-feature-box.top-text > div {
    max-width: 1200px;
    margin: 0 auto !important;
    display: block !important;
}

#cs-content .collapse {
    display: block !important;
}

#cs-content .x-accordion-heading .x-accordion-toggle.collapsed:before, #cs-content .x-accordion-heading .x-accordion-toggle:before {
    display: none !important;
}

#cs-content .collapsing, #cs-content .collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    transition: none !important;
    -webkit-transition: none !important;
    position: relative !important;
}

#cs-content div#prevconf {
    padding: 0 !important;
    margin: 0 !important;
}

#prevconf p {
    margin: 0;
}

#prevconf a {
    display: block;
    text-align: center;
    padding: 30px 0;
}

#cs-content .x-section .x-container {
    max-width: 1170px;
}

#cs-content .topbanner .x-column.x-1-2:first-child {
    width: 41%;
    position: relative;
    margin-right: 30px;
}

#cs-content .topbanner .x-column.x-1-2:last-child {
    width: 56%;
}

#cs-content .topbanner .x-column.x-1-2:first-child:after {
    content: '';
    display: block;
    position: absolute;
    height: 77%;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    right: 0;
    bottom: 10px;
}

img.x-img.bannerlogo.x-img-none {
    float: right;
    padding: 30px 40px 0 0;
    margin: 0 !important;
}

p.confdate {
    color: #fff;
    margin: 28px 0 55px;
    font-size: 27px;
    font-family: 'HelveticaNeueLT Std Cn';
    letter-spacing: 0.07em;
    line-height: 27px;
}

span.blueseparator {
    display: inline-block;
    padding: 0 9px;
    color: #1677b8;
    font-size: 25px;
    line-height: 25px;
    vertical-align: middle;
}

h1 strong {
    font-family: 'HelveticaNeueLT Std Med Cn';
}

#cs-content .x-btn.registerbtn, #cs-content .x-btn.registerbtn.x-btn-global {
    background: #fc6704;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'HelveticaNeueLT Std Cn';
    text-align: center;
    line-height: 39px;
    text-shadow: none;
    border: 0;
    margin-top: 30px;
    font-weight: 700;
    box-shadow: 0px 8px 17px -2px #000;
    border-radius: 10px;
}

#cs-content .x-btn.registerbtn.x-btn-global strong {
    font-weight: 800;
    font-family: 'HelveticaNeueLT Std Med Cn';
}

#cs-content .x-btn.registerbtn.x-btn-global:hover {
    text-decoration: none;
    color: #fff;
}

.su-button-style-flat span {
    position: relative;
    background: #fc6704;
}

.su-button-style-flat:hover span {
    top: 0;
}

.banner-title h1 {
    color: #ffffff;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 84px;
}

.topbanner.bg-image {
    position: relative;
}

.topbanner.bg-image:after {
    content: '';
    width: 100%;
    display: block;
    height: 337px;
    background-image: url(../images/banner-overlap.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
    background-position: center;
    background-size: 100% 100%;
}

.conf-auth h1 {
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    letter-spacing: normal;
}

.real-conf h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: "HelveticaNeueLT Std Med Cn" !important;
    letter-spacing: normal;
    color: #fff;
}

.real-conf h2 span {
    display: block;
    clear: both;
    font-family: "HelveticaNeueLT Std Cn" !important;
    font-weight: 400;
}
#cs-content #speakers-dynamo .x-card-outer h4.x-face-title,
#cs-content #speakers .x-card-outer h4.x-face-title {
    color: #1268a0;
    font-size: 36px;
    letter-spacing: normal;
    font-weight: 400;
}

#cs-content .x-feature-list .x-feature-box:nth-child(2n+1) {
    background-color: #d8ded6;
}

#statistics h2 {
    color: #1268a0;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1;
    font-family: "HelveticaNeueLT Std Med Cn" !important;
    margin-bottom: 40px;
}

#cs-content #statistics .x-feature-box-title {
    font-size: 47.4px;
    letter-spacing: normal;
    margin-bottom: 0;
    text-transform: none;
    color: #1268a0;
    line-height: normal;
    font-family: "HelveticaNeueLT Std Med Cn" !important;
}

#cs-content #statistics .x-feature-box-text {
    font-size: 35px;
    color: #000;
    font-family: "HelveticaNeueLT Std Cn";
    line-height: normal;
    margin: 0;
}

#cs-content .faq-section {
    padding-top: 0 !important;
}

.innerpage-headings h1, .homefaq h2 {
    color: #fff;
    letter-spacing: normal;
    font-size: 44px;
    font-weight: 800;
}

.innerpage-headings h1 {
    color: #000;
}

#cs-content .homefaq .x-accordion-group {
    border-bottom: 0 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 49px;
}

#cs-content .homefaq .x-accordion-inner p, #cs-content .homefaq .x-accordion-inner {
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 0;
    border: 0;
    color: #fff;
    font-weight: 400;
    font-family: 'HelveticaNeueLT Std Cn' !important;
}

#cs-content .faq-section.homefaq .x-accordion-inner p, #cs-content .faq-section.homefaq .x-accordion-inner {
    color: #000;
}

p.subp {
    margin: 0 0 49px;
}

footer .col ul li:last-child a {
    background-color: #fc6704;
}

h2.footer-title {
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
    font-size: 70.92px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: auto;
}

p.footer-text {
    color: #fff;
    font-size: 26.77px;
    text-align: right;
    line-height: 1.4;
    font-family: 'HelveticaNeueLT Std Cn';
}

.innerpage-headings h2, #cs-content .homefaq .x-accordion-heading .x-accordion-toggle {
    position: relative;
    padding: 0;
    color: #1773b1 !important;
    font-weight: 800;
    letter-spacing: normal;
    font-size: 37px;
}

.innerpage-headings span {
    line-height: 1.4;
}

p.greentext {
    color: #008e48;
    font-size: 34px;
    font-weight: bold;
}

.envissues h3 {
    color: #000;
    font-size: 37px;
    font-weight: 800;
    font-family: 'HelveticaNeueLT Std Med Cn' !important;
    letter-spacing: normal;
    line-height: normal;
    margin: 43px 0 0;
}

.envissues p {
    color: #000;
    font-size: 30px;
    font-weight: 400;
    font-family: 'HelveticaNeueLT Std Cn' !important;
    letter-spacing: normal;
    line-height: normal;
}

.envissues h2 {
    font-size: 44px;
    color: #1268a0;
    font-family: 'HelveticaNeueLT Std Med Cn' !important;
    letter-spacing: 0;
    line-height: normal;
}

#cs-content .envissues img.round-env-images {
    margin: 0 auto;
    float: none;
    display: block;
}

#cs-content #statistics .x-feature-box-graphic {
    padding: 0;
    margin: 0;
}

#cs-content #statistics .x-feature-box-content {
    padding: 0;
}

#cs-content #statistics .x-feature-list .x-feature-box {
    padding: 20px;
}

#cs-content .homefaq .x-btn.registerbtn.x-btn-global {
    z-index: 999;
}

#cs-content .homefaq .x-container.max.width {
    z-index: 999;
}

.envissues {
    background-color: #ffffff !important;
    position: relative;
}

.homefaq {
    position: relative;
    padding: 0 !important;
}

#cs-content .envissues .x-btn.registerbtn.x-btn-global {
    margin-top: 30px !important;
}

#cs-content #statistics ul.x-feature-list.details {
    margin: 0;
}

div#statistics {
    position: relative;
}

div#x-section-2.confvideosection {
    padding: 50px 0 0px !important;
    position: relative;
}

#cs-content .x-container.confvideo.max.width {
    width: 100%;
    max-width: 100%;
}

.left-hand {
    position: absolute;
    top: -195px;
    left: 0px;
}

.left-hand {
    background: url("../images/left-hand.png") left top no-repeat;
    width: 480px;
    height: 469px;
    display: inline-block;
}

.left-hand .title-content {
    position: absolute;
    top: 45px;
    left: 100px;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    font-size: 45px;
    color: #fff;
    font-family: 'HelveticaNeueLT Std Med Cn';
    font-weight: 800;
    width: 337px;
    text-align: center;
    padding: 10px 10px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
}

.left-hand-content {
    width: 335px;
    position: relative;
    top: 74px;
    left: 110px;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    height: 140px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 0;
}

.left-hand-content {
    font-size: 16pt;
    font-family: 'HelveticaNeueLT Std Cn';
    line-height: 22px;
    text-align: center;
}

.left-hand-content strong {
    font-size: 20pt;
    font-family: 'HelveticaNeueLT Std Med Cn';
    font-weight: 800;
}

.right-hand {
    position: absolute;
    top: 0px;
    right: 0px;
}

.right-hand {
    background: url("../images/right-hand.png") left top no-repeat;
    width: 460px;
    height: 475px;
    display: inline-block;
}

.right-hand .title-content {
    position: absolute;
    top: 47px;
    left: 52px;
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
    font-size: 45px;
    color: #fff;
    font-family: 'HelveticaNeueLT Std Med Cn';
    font-weight: 800;
    width: 337px;
    text-align: center;
    padding: 10px 10px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
}

.right-hand-content {
    width: 340px;
    position: relative;
    top: 74px;
    left: 25px;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(14deg);
    height: 140px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 0;
}

.right-hand-content {
    font-size: 16pt;
    font-family: 'HelveticaNeueLT Std Cn';
    line-height: 22px;
    text-align: center;
}

.right-hand-content strong {
    font-size: 20pt;
    font-family: 'HelveticaNeueLT Std Med Cn';
    font-weight: 800;
}

#cs-content .x-container.handtexts.right.max.width {
    position: absolute;
    right: 0;
    z-index: 9;
    bottom: 0;
}
div#speakers-dynamo,
div#speakers {
    position: relative;
}

#cs-content .x-container.speakersbottom.handtexts.right.max.width {
    top: -50%;
}

#cs-content #statistics .x-container.handtexts.right.max.width {
    top: 50%;
    width: auto;
}

#cs-content .envissues .x-container.cs-ta-center.max.width {
    position: relative;
    top: -5px;
}

#cs-content .x-container.cs-ta-left.env.handtexts.left.max.width {
    position: absolute;
    top: -120px;
}

.conf-auth .left-hand {
    top: -240px;
}

#cs-content .x-container.cs-ta-left.faq.handtexts.left.max.width {
    position: absolute;
    top: -420px;
}

body:not(.home) a#head-logo {
    float: left;
    margin-top: 30px;
    max-width: 282px;
    background: url(../images/logo-secondary.png);
    display: block;
    height: 52px;
    width: 282px;
    background-size: 100% 100%;
    background-position: center;
}

#cs-content .x-section .x-container {
    z-index: 9;
}

body:not(.home) #head-logo img {
    display: none;
}

body:not(.home) header ul li a:hover, body:not(.home) header ul li.current-menu-item a {
    color: #1268a0;
    background: transparent;
}

body:not(.home) header ul li.current-menu-item a {
    font-weight: 800;
}

body:not(.home) header ul li ul li a, body:not(.home) header ul li ul li.current-menu-item a {
    font-weight: 400;
    color: #fff;
}

body:not(.home) header ul li.current-menu-item ul li a {
    font-weight: 400;
}

body:not(.home) header ul li a {
    font-weight: 600;
    padding: 11px 7px;
}

body:not(.home) header ul li ul li a:hover, body:not(.home) header ul li ul li a {
    color: #fff;
}

body:not(.home) header.nav {
    position: relative;
    border: none;
    margin-bottom: 16px;
    z-index: 1;
}

section.page-titles {
    padding: 45px 0;
    text-align: center;
    background: url(../images/innerpagesbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body:not(.home) header ul li:after {
    background: #1268a0;
    height: 12px;
}

.page-titles h1 {
    font-size: 49.9px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

body:not(.home) header ul li.current-menu-item ul li a {
    color: #fff;
}

body:not(.home) h2.footer-title strong {
    font-weight: 400;
    font-family: "HelveticaNeueLT Std Cn" !important;
}

.su-expand-link.su-expand-link-more a {
    color: #008e48 !important;
    border-color: #008e48 !important;
}

.content-protector-password {
    padding: 10px;
}

.aboutspeaker img {
    max-height: 237px;
    max-width: 188px;
    width: 100%
}

.aboutspeaker {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 40px auto 20px;
    height: 237px;
}

.speaker-template-default .heading h1, .aboutspeaker h1 {
    margin: auto;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0 200px;
    display: block;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: normal;
    height: auto;
}

.aboutspeaker h1 {
    display: none;
}

.aboutspeaker h1 span {
    font-size: 45px;
    letter-spacing: 2px;
    line-height: normal;
    font-weight: normal;
}

.speaker-template-default .heading {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    background: url('http://www.therealtruthabouthealthconference.com/wp-content/uploads/2017/07/innerpagesbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 175px;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
}

.speaker-template-default .heading .nav {
    display: none;
}

.speaker-template-default .heading img, .speaker-template-default .heading img.img-circle.wp-post-image {
    display: none;
}

.speaker-template-default .heading .container {
    display: flex;
}

.speaker-template-default .heading h1 span {
    display: block;
    font-size: 41px;
}

@media (max-width: 640px) {
    .speaker-template-default .heading {
        position: relative;
        z-index: 0;
    }

    .speaker-template-default .heading h1, .aboutspeaker h1 {
        padding: 0;
    }

    .aboutspeaker img {
        margin: 0 auto
    }
}

/*Backgound slope settings*/
@media (min-width: 1200px) {
    footer {
        padding-top: 200px;
        top: -41px;
    }
    .envissues {
        background-image: url(../images/middle-bg.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        padding: 45px 0px 156px !important;
        background-size: 100% 428px;
    }
    #cs-content #statistics .x-feature-list .x-feature-box:last-child {
        padding: 20px 0 428px;
        background-image: url(../images/statisticsbottom.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 428px;
    }
    #cs-content .x-container.statsbtnrow.max.width {
        position: absolute;
        bottom: 184px;
        left: 0;
        right: 0;
    }
    #cs-content .x-section.hilton-midtown {
        position: relative;
        padding: 325px 0 346px !important;
        margin-top: 165px !important;
    }
    #cs-content #statistics .x-btn.registerbtn.x-btn-global {
        position: absolute;
        top: -223px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #cs-content #statistics .statsbtnrow.bottom .x-btn.registerbtn.x-btn-global {
        top: -110px;
    }
    div#statistics {
        position: relative;
        background-image: url(../images/statstop.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 428px;
        padding-top: 354px !important;
        padding-bottom: 0 !important;
    }
    #cs-content .homefaq .x-btn.registerbtn.x-btn-global {
        margin-top: 30px;
        z-index: 999;
    }
    #cs-content .x-section.hilton-midtown:after, #cs-content .x-section.hilton-midtown:before {
        background-image: url(../images/statstop.png);
        display: block;
        position: absolute;
        height: 428px;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        transform: rotateY(180deg);
        background-size: 100% 428px;
        background-repeat: no-repeat;
    }
    #cs-content .x-section.hilton-midtown:after {
        background-image: url(../images/statstop.png);
        top: auto;
        bottom: -1px;
        transform: rotate(180deg);
    }
    #cs-content .x-container.confregisterow.max.width {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 219px;
        z-index: 9;
    }
    #cs-content .x-container.confvideo.max.width {
        display: block;
        top: 160px;
        right: 0;
        left: 0;
        z-index: 9;
        position: absolute;
    }
    #cs-content .x-container.firstissuesrow.max.width {
        margin: -217px auto 0 !important;
    }
    #cs-content .x-container.speakers-title.max.width {
        margin-top: -250px !important;
    }
    body:not(.home) header ul li a {
        color: #000;
    }
    #cs-content .x-btn.registerbtn, #cs-content .x-btn.registerbtn.x-btn-global {
        min-width: 450px
    }
}

@media (max-width: 1199px) {
    .x-container.handtexts {
        display: none;
    }

    #cs-content .x-container.cs-ta-center.topstatsbtnrow.max.width {
        position: absolute;
        top: -276px;
        width: 100%;
    }
    div#speakers-dynamo,
    div#speakers {
        padding-bottom: 155px !important;;
    }
    div#home-dynamic-speakers {
        padding-bottom: 40px !important;
    }
}

@media (max-width: 767px) {
    #cs-content .x-video.embed .x-video-inner iframe, #cs-content .x-video.embed {
        width: 100%;
        max-width: 658px;
    }

    #cs-content .topbanner .x-column.x-1-2:last-child, #cs-content .topbanner .x-column.x-1-2:first-child {
        width: 100%;
        margin: 0;
    }

    img.x-img.bannerlogo.x-img-none {
        float: none;
        padding: 30px 0 0 0;
        margin: 0 auto !important;
        display: block;
        max-width: 200px !important;
    }

    #cs-content .topbanner .x-column.x-1-2:first-child:after {
        display: none;
    }

    .x-text.cs-ta-left.banner-title {
        padding: 0 20px;
        text-align: center !important;
    }

    #cs-content .x-container.width {
        width: 100% !important;
    }

    #cs-content .x-card-outer.center-vertically .x-face-content {
        display: block;
        margin: 0 auto;
        padding: 10px !important;
    }

    .banner-title h1 {
        font-size: 24px;
        margin-top: 26px;
    }

    p.confdate {
        margin: 10px 0 30px;
        font-size: 17px;
    }

    span.blueseparator {
        display: block;
        padding: 0;
        color: #1677b8;
        font-size: 32px;
        line-height: 10px;
        vertical-align: middle;
        transform: rotate(90deg);
        clear: both;
    }

    .topbanner.bg-image:after {
        height: 150px;
    }

    .conf-auth h1 {
        font-size: 24px;
        padding: 0 10px;
    }

    .real-conf h2 {
        font-size: 30px;
        display: block;
        margin: 0 auto;
    }

    p.footer-text {
        letter-spacing: 0;
    }

    #cs-content #statistics .x-feature-box-title {
        font-size: 37.4px;
    }

    #cs-content #statistics .x-feature-box-text {
        font-size: 25px;
    }

    #statistics h2 {
        font-size: 40px  !important;
    }

    footer .col > div {
        margin: 20px 0
    }

    /*inner padding*/
    #cs-content .x-container.firstissuesrow.max.width, #cs-content .x-container.speakers-title.max.width, #cs-content .x-section.hilton-midtown, #statistics h2, .envissues, #cs-content .faq-section.homefaq .x-accordion-group {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    #cs-content #statistics .x-feature-list .x-feature-box, #cs-content .homefaq .x-accordion-group {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    #cs-content .x-container.cs-ta-center.topstatsbtnrow.max.width {
        position: absolute;
        top: -187px;
        width: 100%;
    }
    div#speakers-dynamo,
    div#speakers {
        margin-bottom: 75px !important;
    }

    body:not(.home).header-menu-open a#head-logo {
        background-image: url(../images/header-logo.png);
    }

    body:not(.home) #cs-content .x-container.max {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    body:not(.home) a {
        word-wrap: break-word;
    }

    #cs-content .x-callout.center-text {
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
    }

    .package-services h1 {
        font-size: 37px;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    #cs-content .topbanner .x-column.x-1-2:last-child, #cs-content .topbanner .x-column.x-1-2:first-child {
        width: 100%;
        margin: 0;
    }

    img.x-img.bannerlogo.x-img-none {
        float: none;
        padding: 30px 0px 0 0;
        margin: 0 auto !important;
        display: block;
    }

    .x-text.cs-ta-left.banner-title {
        padding: 0 20px;
        text-align: center !important;
    }

    #cs-content .topbanner .x-column.x-1-2:first-child:after {
        display: none;
    }

    .x-container.handtexts {
        display: none;
    }

    #cs-content .x-container.cs-ta-center.topstatsbtnrow.max.width {
        position: absolute;
        top: -226px;
        width: 100%;
    }
    div#speakers-dynamo,
    div#speakers {
        margin-bottom: 75px !important;
    }

    body:not(.home).header-menu-open a#head-logo {
        background-image: url(../images/header-logo.png);
    }
}

@media (max-width: 350px) {
    a#head-logo {
        max-width: 240px;
    }

    body:not(.home) a#head-logo {
        float: left;
        margin-top: 30px;
        max-width: 240px;
        width: 240px;
    }
}

.home header .container {
    position: relative;
}

.home header .container:after {
    background: url(../images/logo-bg2.png) left top no-repeat;
    max-width: 445px;
    height: 200px;
    position: absolute;
    left: -35px;
    top: 0px;
    content: '';
    display: inline-block;
    z-index: -1;
    width: 100%;
}

/*You can add your own CSS here.Click the help icon above to learn more.*/
header.transition #logo img {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.sessions.list .session {
    padding: 25px !important;
    border: none !important;
}

.sessions.list .session:nth-child(even) {
    background: #f7f7f7;
}

/*.sessions.list .day-floating > span {    border-top: 4px solid #35aadc;    padding: 15px 25px;    background: #35aadc;    border-bottom: 2px solid #35aadc;    color: #fff;}.sessions.list .day-floating > span {display: block;clear: both;border-top: 4px solid #03538c;padding: 15px 25px;max-height: 60px;background: #03538c;border-bottom: 2px solid #03538c;color: #fff;}*/
.a:focus {
    outline: 0;
    text-decoration: none;
}

@media (min-width: 1200px) {
    #cs-content .x-feature-list .x-feature-box.top-text > div {
        max-width: 100%;
        padding-left: 200px !important;
        padding-right: 200px !important;
    }

    #cs-content .x-container.statsbtnrow.max.width {
        bottom: auto;
        top: 344px;
    }

    #cs-content #statistics .x-btn.registerbtn.x-btn-global {
        position: relative;
    }

    #cs-content .envissues .x-container.mozfix.max.width {
        position: relative;
    }

    #cs-content #statistics .x-container.featuredlistfullwidth.max.width {
        padding: 0px !important;
    }
    section#footer-sponsors .container,
    #cs-content .x-container.max {
        padding-left: 200px !important;
        padding-right: 200px !important;
    }
    section#footer-sponsors .row {
        margin: 0 auto;
    }
    #cs-content .x-feature-list .x-feature-box.top-text:last-child > div {
        padding-bottom: 30px !important;
    }

    #cs-content .x-section.hilton-midtown:after, #cs-content .x-section.hilton-midtown:before {
        background-size: 100% 350px;
        height: 350px;
    }

    #cs-content .x-container.statsbtnrow.bottom.max.width {
        bottom: 83px;
        z-index: 999999;
        top: auto;
    }

    #cs-content #statistics .x-feature-list .x-feature-box:last-child {
        position: relative;
        top: 1px;
        padding: 20px 20px 350px;
        background-size: 100% 400px;
    }

    #cs-content .x-card-outer.center-vertically .x-face-outer .x-face-content {
        padding: 10px 0 15px !important;
    }
    #cs-content .x-card-outer.center-vertically .x-face-outer.back .x-face-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    footer .container {
        width: 100% !important;
        padding: 0 200px !important;
    }
    header .navbar {
        float: right;
    }
    #cs-content .topbanner .x-column.x-1-2:first-child {
        margin-right: 3%;
    }
    #cs-content .topbanner .x-column.x-1-2:last-child {
        padding-right: 40px !important;
    }
    .banner-title h1 {
        font-size: 44.17px;
        line-height: 45.4px;
        margin-bottom: 0;
    }
    #cs-content .x-section.hilton-midtown {
        margin-top: 66px !important;
        padding: 400px 0 217px !important;
    }
    #cs-content .x-container.confregisterow.max.width {
        bottom: -44px;
        position: relative;
    }
    #cs-content .x-btn.registerbtn, #cs-content .x-btn.registerbtn.x-btn-global {
        margin-top: 0;
    }
    #cs-content .x-container.speakers-title.max.width {
        margin-top: -200px !important;
    }
    #cs-content .x-container.cs-ta-left.env.handtexts.leftside.max.width {
        position: absolute;
        left: 0;
        top: -146px;
        right: 0;
    }
    #cs-content #statistics .x-container.handtexts.rightside.max.width {
        top: 58% !important;
        left: 0
    }
    #cs-content #statistics .x-container.handtexts.rightside.max.width:first-child {
        top: 0 !important;
        left: 0;
        right: 0;
        text-align: right;
    }
}

img.x-img.bannerlogo.x-img-none {
    padding-top: 30px !important;
}

header {
    border-bottom: none !important
}

.home header .container {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

p.confdate {
    margin: 18px 0 55px !important;
}

.left-hand {
    position: relative;
    top: 0px;
    left: 0px;
}

.right-hand {
    position: relative;
    top: 0px;
    right: 0px;
}

.conf-auth .left-hand {
    top: -196px !important;
}

.hilton-midtown p {
    font-size: 28px;
    letter-spacing: 0;
    font-family: "HelveticaNeueLT Std Cn";
    color: #fff;
    font-weight: 400;
    line-height: 1.2;
}

.real-conf h2 {
    font-size: 39px !important;
}

#cs-content .x-container.handtexts.rightside.max.width {
    position: absolute;
    top: 0;
    right: 0;
}

#cs-content #statistics .x-feature-box-text {
    font-size: 28.94px;
}

#cs-content #statistics .x-feature-box-title {
    font-size: 37.4px;
}

#cs-content .x-container.cs-ta-left.faq.handtexts.leftside.max.width {
    position: absolute;
    top: -540px;
    right: 0;
    left: 0;
    margin: 0 auto !important;;
    z-index:1;
}

#cs-content .homefaq .x-container.max.width {
    margin-top: -45px !important;
}

#cs-content .homefaq .x-btn.registerbtn.x-btn-global {
    margin-top: 0px !important;
}

p.footer-text {
    color: #fff;
    font-size: 24.77px;
    text-align: right;
    line-height: 1.2;
    font-family: 'HelveticaNeueLT Std Cn';
    font-weight: 400;
}

footer .col ul li a {
    font-size: 15px;
    padding: 20px 10px;
}

header ul li:not(.menu-item-has-children):last-child ul.sub-menu li a:hover, header ul li:not(.menu-item-has-children):last-child ul.sub-menu li a, header ul#menu-primary li ul.sub-menu li a {
    background-color: transparent !important;
}

.truth-auth h2, h2 {
    font-size: 44px !important;
}

#cs-content .homefaq .x-accordion-inner p, #cs-content .homefaq .x-accordion-inner {
    font-size: 30px;
}

.home header .container:after {
    background: url('http://www.therealtruthabouthealthconference.com/wp-content/uploads/2017/07/logo-bg.png') left top no-repeat;
    max-width: 411px;
    height: 190px;
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    display: inline-block;
    z-index: -1;
    width: 100%;
}

.home header:before {
    content: '';
    position: absolute;
    display: block;
    background: url('http://www.therealtruthabouthealthconference.com/wp-content/uploads/2017/07/leftshadow.png') repeat-x left top;
    height: 220px;
    width: 50%;
    left: -585px;
}

.envissues h3 {
    margin: 0px;
}

#cs-content .envissues img.round-env-images {
    margin: 44px auto 21px;
}

.envissues .x-text {
    margin-bottom: 44px;
}

#statistics h2 {
    margin-bottom: 30px;
    margin-top: -30px;
}

#cs-content .x-card-outer.flip-3d {
    margin-bottom: 10px;
}

#cs-content .faq-section {
    padding-top: 30px !important;
}

#cs-content .x-container.handtexts.max {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    float: none;
    clear: both;
    z-index: 9;
}

h2.footer-title {
    font-size: 70.92px !important;
}

.envissues {
    display: inline-table;
    margin: -220px 0 0 !important;
}

.su-button-style-flat:hover span {
    top: 0 !important;
}

/*cornerstone global css*/
p {
    font-family: 'HelveticaNeueLT Std Cn';
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
}

header ul li.current-menu-item a, header ul li a:hover {
    text-decoration: none;
}

.heading {
    position: relative;
    background-image: none;
    display: none;
    color: #fff;
    margin: 0 0 45px;
}

body {
    font-family: 'HelveticaNeueLT Std Cn';
    color: #000000;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 400;
}

.aboutspeaker img {
    max-height: 237px;
    max-width: 188px;
    width: 100%
}

.aboutspeaker {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 40px auto 20px;
    height: 237px;
}

.speaker-template-default .heading h1, .aboutspeaker h1 {
    margin: auto;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0 200px;
    display: block;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: normal;
    height: auto;
}

.aboutspeaker h1 {
    display: none;
}

.aboutspeaker h1 span {
    font-size: 45px;
    letter-spacing: 2px;
    line-height: normal;
    font-weight: normal;
}

.single-speaker .heading, .speaker-template-default .heading {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: url('http://www.therealtruthabouthealthconference.com/wp-content/uploads/2017/07/innerpagesbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 175px;
    text-align: center;
    margin: 0 auto;
    z-index: -1;
}

.single-speaker .heading .nav, .speaker-template-default .heading .nav {
    display: none;
}

.single-speaker .heading img, .single-speaker .heading img.img-circle.wp-post-image, .speaker-template-default .heading img, .speaker-template-default .heading img.img-circle.wp-post-image {
    display: none;
}

.single-speaker .heading .container, .speaker-template-default .heading .container {
    display: block;
}

.single-speaker .heading h1 span, .speaker-template-default .heading h1 span {
    display: block;
    font-size: 41px;
}
#cs-content #speakers-dynamo.simplehtml .x-card-outer h4.x-face-title,
#cs-content #speakers.simplehtml .x-card-outer h4.x-face-title{
    /*font-size: 45px;*/
    font-size: 1.875em;
}
#cs-content #speakers-dynamo.simplehtml .x-card-outer .x-face-text,
#cs-content #speakers.simplehtml .x-card-outer .x-face-text{
    /*font-size: 34px;*/
    font-size: 1.417em;
    line-height: normal;
}

#cs-content .simplehtml .x-card-outer .x-face-graphic img {
    width: 400px !important;
    margin-bottom: 20px !important;
}

p.confdate {
    margin: 18px 0 55px !important;
}
#statistics h2 {
    margin-bottom: 30px;
    margin-top: -30px;
}
.envissues {
    display: inline-table;
    margin: -150px 0 0!important;
}
#cs-content .homefaq .x-container.max.width {
    margin-top: -45px !important;
}
#cs-content #speakers-dynamo.simplehtml .x-card-outer .x-face-outer.back h4.x-face-title {
    color: #000;
}
.category.product-categories {
    text-align: center;
}
.product-category,
.filter-back,
.category.product-categories button#filter {
    border: 0;
    background: #fc6704;
    color: #fff;
    font-size: 24px;
    padding: 10px 15px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 23px;
}
.sponsors-grid{
    text-align: center;
}
.sponsors-grid .sponsors-grid-item {
    width: calc(100% / 3);
    text-align: center;
    padding: 30px;
    float: left;
    position: relative;
}
.filter-back:focus, .category.product-categories button#filter:focus {
    outline: 0;
    border: 0;
    box-shadow: inset 0px -3px 3px 2px #00000030;
}
.isotope-item.onlycategories h3,
.sponsors-grid .sponsors-grid-item h3 {
    text-transform: capitalize;
    font-size: 30px;
    color: #000;
    margin: 15px 0;
    cursor: pointer;
}
.isotope-item.onlycategories h3{
    font-weight: 700;
    color: #555;
}
.isotope-item.onlycategories h3:hover{
    color: #000;
}
.isotope-item.onlycategories {
    display: inline-block;
    padding: 0 30px;
}
.category.product-categories button#filter[disabled="disabled"] {
    cursor: not-allowed;
    opacity: 0.5;
}
.isotope-overlay{cursor: pointer}
.allsponsors-grid hr.x-gap {
    clear: both;
}
button#viewallsponsors {
    margin-bottom: 40px;
}
ul.sponsors-category-grid,
.footer-sponsors ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
}
ul.sponsors-category-grid li,
.footer-sponsors ul li {
    width: 20%;
    padding: 15px;
    border-right: 3px solid #f3f3f3;
    border-bottom: 3px solid #f3f3f3;
    text-align: center;
}
ul.sponsors-category-grid li:last-child,
.footer-sponsors ul li:last-child {
    border-right: 0
}
ul.sponsors-category-grid li a,
.footer-sponsors ul li a {
    display: block;
    transition: all 0.5s ease 0s;
    font-size: initial;
}
.footer-sponsors h2 {
    color: #fff;
    line-height: normal;
    margin-top: 0;
}
.footer-sponsors ul li a:hover {
    text-decoration: none;
}
.footer-sponsors ul li a p {
    color: #000;
    margin: 10px 0 0;
    padding: 0;
}
.footer-sponsors ul li a p.sponsors-taglines {
    font-size: 22px;
}
.footer-sponsors {
    margin-bottom: 40px;
}
.sponsors-grid .sponsors-grid-item:nth-child(3n+1) {
    clear: left;
}
.sponsors-grid.non-portfolioContainer.isotope {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
section#footer-sponsors {
    position: relative;
    background: #fff;
    z-index: 999;
}
.home section#footer-sponsors:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    background-image: linear-gradient(#ffffff, #ffffff);
    transform: skewY(-8deg);
    transform-origin: top left;
    height: 400px;
    z-index: 0;
}
section#footer-sponsors .container {
    position: relative;
    text-align: center;
    width: 100% !important;
    max-width: 100% !important;
}
body:not(.home) div#cs-content{
padding-bottom: 40px;
}
.home div#cs-content{
    padding-bottom: 200px;
    position: relative;
}
body.home div#cs-content:after {
    display: block;
    content: '';
    height: 200px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    background: #282114;
    left: 0;
    right: 0;
}
footer:before {
    content: '';
    display: block;
    position: absolute;
    height: 310px;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(#ffffff, #ffffff);
    transform: skewY(-8deg);
    transform-origin: top left;
}
section#sponsor-category-detail h1,
.category.product-categories h1,
section#footer-sponsors h1,
.category.product-categories h2,
section#footer-sponsors h2 {
    font-weight: 700;
    font-family: "HelveticaNeueLT Std Med Cn" !important;
    font-size: 50px !important;
    margin: 0 15px;
    line-height: 1;
}
.category.product-categories h1 p,
section#footer-sponsors h1 p {
    margin: 0;
    line-height: 1;
    font-family: "HelveticaNeueLT Std Med Cn" !important;
    color: #1773b1;
}
.category.product-categories h2,
section#footer-sponsors h2 {
    color: #1773b1;
    margin: 15px;
}
a.product-category {
    margin: 25px 0 40px;    display: inline-block;
}
.product-category:hover,
.filter-back:hover,
.category.product-categories button#filter:hover,
.product-category:focus,
.filter-back:focus,
.category.product-categories button#filter:focus,
section#footer-sponsors .product-category:focus,
section#footer-sponsors .product-category:hover {
    text-decoration: none;
    color: #fff;
}

body.page-template-sponsors div#cs-content,
body.page-template-sponsors-categories div#cs-content {
    background: #fff;
    padding-bottom: 40px;
}

ul.sponsors-category-grid li a:hover,
ul.sponsors-category-grid li a:focus{
    text-decoration: none;
}
ul.sponsors-category-grid li a {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
}
ul.sponsors-category-grid li.orange a {
    color: #fc6704;
}
ul.sponsors-category-grid li {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.tax-sponsor-tier section.page-titles,
body.page-template-sponsors section.page-titles,
body.page-template-sponsors-categories section.page-titles {
    display: none;
}

body.tax-sponsor-tier header.nav .container,
body.page-template-sponsors header.nav .container,
body.page-template-sponsors-categories header.nav .container {
    border-bottom: 3px solid #437fc1 !important;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
section#sponsor-category-detail h1 {
    color: #437fc1;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}


@media (min-width: 1600px){
    ul.sponsors-category-grid li:nth-child(5n), .footer-sponsors ul li:nth-child(5n) {
        border-right: 0;
    }
    ul.sponsors-category-grid li.last, .footer-sponsors ul li.last {
        border-bottom: 0;
    }
}

@media (max-width: 1190px){
    .topbanner.bg-image:after{    height: 180px;}
    div#x-section-2.confvideosection {
        margin-bottom: 50px !important;
    }
    #cs-content .x-container.max {
        padding: 0 15px !important;
    }
    .truth-auth h2, h2,
    .real-conf h2{margin-top: 0}
    #cs-content #statistics .x-container.featuredlistfullwidth.max.width{padding-left: 0 !important;padding-right: 0 !important;}
    .envissues{margin: 0 !important;}
    #cs-content .homefaq .x-container.max.width {
        margin-top: 0px !important;
    }
    div#x-section-7.homefaq {
        padding: 45px 0 !important;
    }
    body:not(.home) #cs-content .x-section.speakers-section {
        padding-bottom: 30px !important;
    }
}

@media (max-width: 640px) {
    .single-speaker .heading, .speaker-template-default .heading {
        position: relative;
        z-index: 0;
    }

    .single-speaker .heading h1, .speaker-template-default .heading h1, .aboutspeaker h1 {
    padding: 40px 0;
    margin: 0;
font-size:49.9px;
    }

    .aboutspeaker img {
        margin: 0 auto
    }
}

/*cornerstone global css*/

@media (min-width: 992px) and (max-width: 1199px){
    header .container {
        width: 100%;
    }
    p.confdate {
        margin: 10px 0 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1078px){
    header ul li a:hover, header ul li a:focus, header ul li a{
        font-size: 13px;
        padding: 11px 6px !important;
    }
}

@media (max-width: 991px) {
    button.btn.btn-primary.navbar-toggle {
        padding-bottom: 6px;
        margin-right: 0;
    }
    header ul ul li {
        background-color: #3d3d3d !important;
        border: none;
        padding-left: 15px;
        border-bottom: 1px solid #4d4d4d !important;
    }
}
@media (min-width: 1000px) and (max-width: 1030px){
    #cs-content .topbanner .x-column.x-1-2:first-child{width: 40%;}
}

@media (min-width: 1025px) and (max-width: 1599px){

    ul.sponsors-category-grid li,
    .footer-sponsors ul li {
        width:calc(100% / 4);
    }
    ul.sponsors-category-grid li:nth-child(4n), .footer-sponsors ul li:nth-child(4n) {
        border-right: 0;
    }
    footer:before,
    section#footer-sponsors:before,
    body.home div#cs-content:after{display: none}
    .home div#cs-content,
    div#cs-content {padding-bottom: 40px;}
}

@media (min-width: 768px) and (max-width: 1024px){
    ul.sponsors-category-grid,
    .footer-sponsors ul {
        flex-flow: row wrap;
        margin: 0 15px;
    }
    ul.sponsors-category-grid li,
    .footer-sponsors ul li {
        width:calc(100% / 3);
    }
    ul.sponsors-category-grid li:nth-child(3n), .footer-sponsors ul li:nth-child(3n) {
        border-right: 0;
    }
    footer:before,
    section#footer-sponsors:before,
    body.home div#cs-content:after{display: none}
    .home div#cs-content,
    div#cs-content {padding-bottom: 40px;}
    body.tax-sponsor-tier header.nav .container, body.page-template-sponsors header.nav .container, body.page-template-sponsors-categories header.nav .container{
        padding: 0 15px;
    }
    ul.sponsors-category-grid li{min-height: 100px}
}
@media (min-width: 768px) and (max-width: 999px){
    .banner-title h1 {
        margin-top: 10px;
    }
    p.confdate {
        margin: 10px 0 0 !important;
    }
    #cs-content .x-section.topbanner.bg-image {
        padding-bottom: 115px !important;
    }
    .topbanner.bg-image:after{height: 250px}
    #cs-content .x-container.width {
        padding: 0 15px !important;
    }
    .home header .container {
        width: 100%;
    }
    div#x-section-2.confvideosection {
        padding: 0 !important;
        margin-bottom: 50px !important;
    }
    .real-conf h2{
        margin: 0
    }
    div#speakers-dynamo,
    div#speakers {
        padding: 15px 0 40px !important;
    }
    #cs-content #statistics .x-container.featuredlistfullwidth.max.width {
        padding: 0 !important;
    }
    .envissues {
        display: inline-table;
        margin: 0 !important;
        padding: 20px 0 0 !important;
    }
    #statistics .x-container.statsbtnrow.bottom.max.width {
        padding-top: 10px !important;
    }
    #cs-content .homefaq .x-container.max.width {
        margin-top: 0 !important;
    }
    .homefaq {
        padding: 30px 0 45px !important;
        margin-top: 30px !important;
    }
    #cs-content .x-btn.registerbtn, #cs-content .x-btn.registerbtn.x-btn-global {
        font-size: 24px;
        line-height: 30px;
    }
    #cs-content #speakers-dynamo.simplehtml .x-card-outer h4.x-face-title, #cs-content #speakers.simplehtml .x-card-outer h4.x-face-title{
        font-size: 36px;
    }
}

@media (max-width: 767px){
    body:not(.home) #cs-content .x-section {
        padding: 20px 0 !important;
    }
    #statistics h2{margin-top:0}
    p.confdate {
        margin: 18px 0 0px !important;
    }
    #cs-content .x-section.topbanner.bg-image {
        padding: 80px 0 140px !important;
    }
    div#x-section-2.confvideosection {
        padding: 25px 0 0px !important;
    }
    div#speakers-dynamo,
    div#speakers {
        padding: 15px 0 35px !important;
    }
    .envissues h2{margin-top: 0}
    .envissues{padding-top: 35px !important;}
    .envissues .x-column:last-child .x-text:last-child {
        margin-bottom: 0;
    }
    #cs-content .homefaq .x-container.max.width,
    .envissues{margin-top: 0 !important;}
    .homefaq {
        padding: 20px 0 45px !important;
    }
    h2.footer-title {
        font-size: 50px !important;
    }
    .homefaq h2 {
        padding-left: 15px;
        padding-right: 15px;
    }
    footer{padding-top: 30px}
    #cs-content .faq-section {
        padding: 0 !important;
    }
    .innerpage-headings h2,
    .innerpage-headings h1 {
        margin: 0;
    }
    body:not(.home) button.btn.btn-primary.navbar-toggle {
        margin-top: 10px;
    }
    hr.x-gap {
        margin: 20px 0 0 !important;
    }
    header ul ul li {
        background-color: #3d3d3d !important;
        border: none;
        padding-left: 15px;
        border-bottom: 1px solid #4d4d4d !important;
    }
    button.btn.btn-primary.navbar-toggle {
        padding-bottom: 8px;
    }
    #cs-content .x-btn.registerbtn, #cs-content .x-btn.registerbtn.x-btn-global {
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }
    #cs-content .x-btn.registerbtn.x-btn-global strong{
        font-weight: 400;
        font-family: 'HelveticaNeueLT Std Cn' !important;
    }
    div#home-dynamic-speakers {
        padding-bottom: 45px !important;
    }
    ul.sponsors-category-grid,
    .footer-sponsors ul {
        flex-flow: column;    padding: 0 15px;
    }
    .sponsors-grid .sponsors-grid-item {
        width: 100%;
    }
    footer:before,
    section#footer-sponsors:before,
    body.home div#cs-content:after{display: none}
    .home div#cs-content,
    div#cs-content {padding-bottom: 40px;}
    .category.product-categories {
        padding: 0 15px;
    }
    ul.sponsors-category-grid li, .footer-sponsors ul li {
        width: 100%;margin: 0 0 30px; border: 3px solid #f3f3f3 !important;
    }
    ul.sponsors-category-grid li:last-child, .footer-sponsors ul li:last-child{
        margin: 0; border: 3px solid #f3f3f3;
    }
    body.tax-sponsor-tier header.nav .container, body.page-template-sponsors header.nav .container, body.page-template-sponsors-categories header.nav .container{
        padding: 0 15px;
    }
    ul.sponsors-category-grid li{min-height: 100px}
    ul.sponsors-category-grid li:nth-child(3n), .footer-sponsors ul li:nth-child(3n) {
        border-right: 0;
    }
    ul.sponsors-category-grid li:nth-child(5n), .footer-sponsors ul li:nth-child(5n) {
        border-right: 3px solid #000;
    }

}
/*speakers simple html*/
.simplehtml .x-face-outer.back .x-face-content {
        position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#cs-content .simplehtml .x-card-outer .x-face-inner{
    height: auto;
}
/*speakers simple html*/
#cs-content #speakers-dynamo > .x-container.max {
    padding: 0 !important;
}
li#shortcodes-ultimate-2 {
    list-style: none;
}
.thankyoupage p {
    font-size: 35px;
}
.clipboard-copy span#p1 {
    background: transparent;
    border: 2px solid #797979;
    border-radius: 5px;
    margin-right: 15px;
    width: 250px;
    font-size: 20px;
    padding: 15px;
    height: 56px;
    display: inline-block;
}
.clipboard-copy{
    margin-bottom: 20px
}
button.clipboard-copy-button {
    background-color: #fc6704;
    color: #fff;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    padding: 15px 20px;
    line-height: 26px;
    font-size: 20px;
    text-transform: uppercase;
}
.thankyoupage .action-container a {
    margin: 0 8px;
}

#loading-img {
    background: url(../images/preloader2.png) center center no-repeat;
    height: 100%;
    z-index: 9999;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}