a {color:#ff0000;}
.bg-primary {background-color: #ff0000;}
.bg-secondary {background-color: #27a700;}
.color-primary {color: #ff0000;}
.border-primary {border-color: #ff0000;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;background-color: #ff0000;border: 1px solid #509cbc;}
.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {border-color: #509cbc #509cbc #509cbc;background-color: #ff0000;}
header ul li.current-menu-item a, header ul li a:hover {background: #ff0000;color: #fff;}
header ul li.register a {background-color: #27a700;color: #fff;}
.timecounter {color: #fff;background-color: #27a700;}
.heading {background: #ff0000;color: #fff;}
.btn-primary {color: #ffffff;background-color: #ff0000;}
.btn-check.btn-primary {border-color: #ff0000;color: #ff0000;}
.btn-check.btn-primary.active, .btn-check.btn-primary:hover {color: #fff;background-color: #ff0000;}
.btn-secondary {color: #fff;background-color: #27a700;border-color: #27a700;}
.landing .box {background: #ff0000;}
.speakers .speaker .speaker-inner {background: #ff0000;}
.speakers .speaker.featured .speaker-inner {background: #27a700;}
.speakers .speaker .speaker-inner:hover {color: #ff0000;}
.speakers .speaker.featured .speaker-inner:hover {color: #27a700;}
.schedule ul ul li a {color: #fff;}
.connect {color: #fff;background-color: #27a700;}
.sessions .session .speaker.featured img {border-color: #27a700;box-shadow: 0px 0px 0px 1px #27a700;}
.sessions.list .day-floating > span {border-top: 4px solid #ff0000;background: #fff;border-bottom: 2px solid #d2d2d2;}
.sessions.single .location strong {color: #ff0000;}
h3.sponsor {color: #27a700;}
.color-secondary {color: #27a700;}
.border-secondary {border-color: #27a700;}
.location .explore {background: #f1f1f1;color: #27a700;}
.location .explore .heading {color: #fff;background: #27a700;}
.location .map {border: 1px solid #27a700;}
.mediabox a.post .desc strong {color: #ff0000;}
.articles article .image .date {color: #fff;background-color: #27a700;}
.articles article:hover .image, .articles article:hover  .post-content {border-color: #27a700;}
.articles article .post-content .heading {color: #27a700;}
.sidebar .tyler_comments_display h2 {color: #fff;background: #ff0000;}
.sidebar .tyler_comments_display li a:hover {border-color: #ff0000;}
.sidebar .tyler_comments_display li .time {color: #27a700;}
.sidebar .widget_text h2 {color: #27a700;border-bottom: 1px solid #27a700;}
.comments-area h2 {color: #fff;background: #ff0000;}
.comments-area form input[type=submit] {background: #27a700;color: #fff;}
.commentlist .comment .comment-content {border: 1px solid #ff0000;}
.commentlist .comment .comment-content:after {border: 1px solid #ff0000;background: #fff;}
footer .credits {background: #313131;color: #27a700;}
#twitter_fullscreen li {border: 1px solid #ff0000;}
.twitter .tweet {border:1px solid #27a700;}
#tile_media .btn-check{background:#fff;color:#27a700;border-color:#27a700;}
#tile_media .btn-check.active{background:#ff0000;color:#fff;border-color:#ff0000;}
.jspDrag{background:#27a700;}
.landing .btn-secondary {border-color:#27a700;}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {color: #fff;background-color: #ff0000;border-color: transparent;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #ffffff;background-color: #27a700;border-color: #27a700;}