a {color:#768591;}
.bg-primary {background-color: #768591;}
.bg-secondary {background-color: #24648c;}
.color-primary {color: #768591;}
.border-primary {border-color: #768591;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;background-color: #768591;border: 1px solid #509cbc;}
.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {border-color: #509cbc #509cbc #509cbc;background-color: #768591;}
header ul li.current-menu-item a, header ul li a:hover {background: #768591;color: #fff;}
header ul li.register a {background-color: #24648c;color: #fff;}
.timecounter {color: #fff;background-color: #24648c;}
.heading {background: #768591;color: #fff;}
.btn-primary {color: #ffffff;background-color: #768591;}
.btn-check.btn-primary {border-color: #768591;color: #768591;}
.btn-check.btn-primary.active, .btn-check.btn-primary:hover {color: #fff;background-color: #768591;}
.btn-secondary {color: #fff;background-color: #24648c;border-color: #24648c;}
.landing .box {background: #768591;}
.speakers .speaker .speaker-inner {background: #768591;}
.speakers .speaker.featured .speaker-inner {background: #24648c;}
.speakers .speaker .speaker-inner:hover {color: #768591;}
.speakers .speaker.featured .speaker-inner:hover {color: #24648c;}
.connect {color: #fff;background-color: #24648c;}
.sessions .session .speaker.featured img {border-color: #24648c;box-shadow: 0px 0px 0px 1px #24648c;}
.sessions.list .day-floating > span {border-top: 4px solid #768591;background: #fff;border-bottom: 2px solid #d2d2d2;}
.sessions.single .location strong {color: #768591;}
h3.sponsor {color: #24648c;}
.color-secondary {color: #24648c;}
.border-secondary {border-color: #24648c;}
.location .explore {background: #f1f1f1;color: #24648c;}
.location .explore .heading {color: #fff;background: #24648c;}
.location .map {border: 1px solid #24648c;}
.mediabox a.post .desc strong {color: #768591;}
.articles article .image .date {color: #fff;background-color: #24648c;}
.articles article:hover .image, .articles article:hover  .post-content {border-color: #24648c;}
.articles article .post-content .heading {color: #24648c;}
.sidebar .tyler_comments_display h2 {color: #fff;background: #768591;}
.sidebar .tyler_comments_display li a:hover {border-color: #768591;}
.sidebar .tyler_comments_display li .time {color: #24648c;}
.sidebar .widget_text h2 {color: #24648c;border-bottom: 1px solid #24648c;}
.comments-area h2 {color: #fff;background: #768591;}
.comments-area form input[type=submit] {background: #24648c;color: #fff;}
.commentlist .comment .comment-content {border: 1px solid #768591;}
.commentlist .comment .comment-content:after {border: 1px solid #768591;background: #fff;}
footer .credits {background: #313131;color: #24648c;}
#twitter_fullscreen li {border: 1px solid #768591;}
.twitter .tweet {border:1px solid #24648c;}
#tile_media .btn-check{background:#fff;color:#24648c;border-color:#24648c;}
#tile_media .btn-check.active{background:#768591;color:#fff;border-color:#768591;}
.jspDrag{background:#24648c;}
.landing .btn-secondary {border-color:#24648c;}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {color: #fff;background-color: #768591;border-color: transparent;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #ffffff;background-color: #24648c;border-color: #24648c;}