/* A dividing horizontal rule ----------- */

hr.div {
	background: #ccc;
	height: 1px;
	border: none;
	margin: 10px 0;
}


/* Genesis menu icon ----------- */

#adminmenu .toplevel_page_genesis .wp-menu-image img {
	height: 16px;
	width: 16px;
}

.admin-color-mp6 #adminmenu .toplevel_page_genesis .wp-menu-image img {
	display: none;
}

.admin-color-mp6 #adminmenu .toplevel_page_genesis .wp-menu-image:before {
	content: 'G';
	font-family: 'Open Sans', sans-serif !important;
	font-size: 20px;
	font-weight: 600;
}


/* Scribe nag ----------- */

.scribe-nag {
	overflow: hidden;
}


/* Genesis upgraded ----------- */

.whats-new {
	border-radius: 5px;
	height: 180px;
	width: 160px;
}


/* Fix notice placment on our admin pages ----------- */

.wrap div.error,
.wrap div.updated {
	clear: both;
}


/* Genesis metabox styles ----------- */

.genesis-metaboxes {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 20px;
	width: 690px;
}

.genesis-metaboxes h2 {
	float: left;
}

.genesis-metaboxes .top-buttons {
	float: right;
}

.genesis-metaboxes .top-buttons input {
	margin-left: 10px;
}

.genesis-metaboxes .bottom-buttons {
	text-align: right;
}

.genesis-metaboxes .bottom-buttons input {
	margin-left: 10px;
}

.genesis-metaboxes .metabox-holder {
	clear: both;
}

.genesis-metaboxes .inside {
	overflow: hidden;
	padding: 0 10px;
}

.postbox-container {
	width: 100%;
}

.postbox .inside > p:last-child {
	margin: 1em 0 !important;
}

.genesis-metaboxes fieldset {
	margin-top: 1em;
}

.genesis-metaboxes legend {
	line-height: 140%;
}


/* Layout options styles ----------- */

.genesis-layout-selector input {
	display: none;
	text-align: center;
}

.genesis-layout-selector .default-layout {
	display: inline;
}

.genesis-layout-selector label.box {
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	text-align: center;
}

.genesis-layout-selector label.box img {
	border: 3px solid transparent;
	margin-bottom: 5px;
	max-width: 85px;
}

.genesis-layout-selector label.box img:hover {
	border: 3px solid #ddd;
}

.genesis-layout-selector label.box.selected img {
	border: 3px solid #ccc;
}


/* Inpost layout box */

#genesis_inpost_layout_box .inside input#default-layout {
	margin-left: 5px;
}

#genesis_inpost_layout_box .genesis-layout-selector {
	padding-top: 5px;
}


/* Layout selector, no JS ----------- */

.ie8 .genesis-layout-selector input,
.no-js .genesis-layout-selector input {
	display: inline;
}

.ie8 .genesis-layout-selector label.box img,
.ie8 .genesis-layout-selector label.box img:hover,
.ie8 .genesis-layout-selector label.box.selected img,
.no-js .genesis-layout-selector label.box img,
.no-js .genesis-layout-selector label.box img:hover,
.no-js .genesis-layout-selector label.box.selected img {
	border: 3px solid transparent;
}


/* Widgets ----------- */

.genesis-widget-column {
	float: left;
	width: 250px;
}

.genesis-widget-column-right {
	margin-left: 10px;
}

.genesis-widget-column-box {
	background: #f1f1f1;
	border: 1px solid #ddd;
	margin-top: 10px;
	padding: 10px 10px 0;
}

.genesis-widget-column-box-top {
	margin-top: 0;
}

.genesis-pagechecklist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.genesis-image-size-selector {
	max-width: 205px;
}

.no-js .hide-if-no-js {
	display: none;
}

.widget-control-actions {
	clear: both;
}